<div class="section">
    <div class="container">
        <div class="cards cards_col-4">
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.83398 17.4167H11.584V26.1667" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M26.166 11.5833H17.416V2.83325" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M17.416 11.5833L27.6243 1.375" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1.375 27.6251L11.5833 17.4167" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">4Га</h3>
                    <div class="card__text text">
                        <p>Площадь производства</p>
                    </div>
                </div>
            </article>
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="23" height="35" viewBox="0 0 23 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.4993 21.8749C17.1373 21.8749 21.7077 17.3045 21.7077 11.6666C21.7077 6.02868 17.1373 1.45825 11.4993 1.45825C5.86144 1.45825 1.29102 6.02868 1.29102 11.6666C1.29102 17.3045 5.86144 21.8749 11.4993 21.8749Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.97357 20.2563L4.20898 33.5417L11.5007 29.1667L18.7923 33.5417L17.0277 20.2417" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">30 лет</h3>
                    <div class="card__text text">
                        <p>Надежной работы</p>
                    </div>
                </div>
            </article>
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="27" height="33" viewBox="0 0 27 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4173 1.91675H4.75065C3.9771 1.91675 3.23524 2.22404 2.68826 2.77102C2.14128 3.318 1.83398 4.05987 1.83398 4.83341V28.1667C1.83398 28.9403 2.14128 29.6822 2.68826 30.2291C3.23524 30.7761 3.9771 31.0834 4.75065 31.0834H22.2507C23.0242 31.0834 23.7661 30.7761 24.313 30.2291C24.86 29.6822 25.1673 28.9403 25.1673 28.1667V10.6667L16.4173 1.91675Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.416 1.91675V10.6667H25.166" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.5 25.25V16.5" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.125 20.875H17.875" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">59 дилеров</h3>
                    <div class="card__text text">
                        <p>Наши представители есть по всей России и СНГ</p>
                    </div>
                </div>
            </article>
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="35" height="29" viewBox="0 0 35 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.625 8.66675V27.6251H4.375V8.66675" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M33.5423 1.375H1.45898V8.66667H33.5423V1.375Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.584 14.5H20.4173" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">360 магазинов</h3>
                    <div class="card__text text">
                        <p>Продают нашу продукцию</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>