<div class="section">
    <div class="container">
        <div class="cards cards_col-3">
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.1663 27.625V24.7083C25.1663 23.1612 24.5518 21.6775 23.4578 20.5835C22.3638 19.4896 20.8801 18.875 19.333 18.875H7.66634C6.11925 18.875 4.63551 19.4896 3.54155 20.5835C2.44759 21.6775 1.83301 23.1612 1.83301 24.7083V27.625" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.5003 13.0417C16.722 13.0417 19.3337 10.43 19.3337 7.20833C19.3337 3.98667 16.722 1.375 13.5003 1.375C10.2787 1.375 7.66699 3.98667 7.66699 7.20833C7.66699 10.43 10.2787 13.0417 13.5003 13.0417Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">450+</h3>
                    <div class="card__text text">
                        <p>Сотрудников</p>
                    </div>
                </div>
            </article>
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="23" height="35" viewBox="0 0 23 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5003 21.8749C17.1382 21.8749 21.7087 17.3045 21.7087 11.6666C21.7087 6.02868 17.1382 1.45825 11.5003 1.45825C5.86242 1.45825 1.29199 6.02868 1.29199 11.6666C1.29199 17.3045 5.86242 21.8749 11.5003 21.8749Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.97259 20.2563L4.20801 33.5417L11.4997 29.1667L18.7913 33.5417L17.0268 20.2417" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">30 лет</h3>
                    <div class="card__text text">
                        <p>Стабильной работы</p>
                    </div>
                </div>
            </article>
            <article class="card card_fill-white">
                <div class="card__content">
                    <div class="card__icon">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.5003 1.91675L31.0837 11.3959V21.6042L16.5003 31.0834L1.91699 21.6042V11.3959L16.5003 1.91675Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.5 31.0834V21.6042" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M31.0837 11.3958L16.5003 21.6041L1.91699 11.3958" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1.91699 21.6041L16.5003 11.3958L31.0837 21.6041" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.5 1.91675V11.3959" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="card__title card__title_dark">Собственное</h3>
                    <div class="card__text text">
                        <p>Производство полного цикла</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>