<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- преимущества -</h2>
                <h2 class="section__title">Почему с нами выгодно сотрудничать?</h2>
            </div>
        </div>

        <div class="cards">
            <article class="card card_start card_fill-main">
                <div class="card__content">
                    <h3 class="card__title card__title_dark">01</h3>
                    <div class="card__text card__text_light text">
                        <p><strong>30 летний опыт</strong> производства изделий для создания интерьера</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_border-grey">
                <div class="card__content">
                    <h3 class="card__title">02</h3>
                    <div class="card__text text">
                        <p><strong>Комплексное</strong> предложение для создания интерьера</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-white">
                <div class="card__content">
                    <h3 class="card__title">03</h3>
                    <div class="card__text text">
                        <p><strong>Оснащение</strong> производства современным высокотехнологическим оборудованием. </p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-dark">
                <div class="card__content">
                    <h3 class="card__title">04</h3>
                    <div class="card__text card__text_light text">
                        <p><strong>Тотальный контроль</strong> соблюдения технологического процесса изготовления продукции</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-white">
                <div class="card__content">
                    <h3 class="card__title">05</h3>
                    <div class="card__text text">
                        <p><strong>Высокий</strong> внутренний стандарт качества продукции Uberture (требования выше ГОСТа)</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-white">
                <div class="card__content">
                    <h3 class="card__title">06</h3>
                    <div class="card__text text">
                        <p><strong>Стабильность</strong> Группы Компаний “Убертюре”: в собственности весь производственный и складской комплекс</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-dark">
                <div class="card__content">
                    <h3 class="card__title">07</h3>
                    <div class="card__text card__text_light text">
                        <p><strong>Собственный</strong> ж/д тупик и возможность единовременной отгрузки и выгрузки до 15 фур и контейнеров</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_border-grey">
                <div class="card__content">
                    <h3 class="card__title">08</h3>
                    <div class="card__text text">
                        <p><strong>Территориальное</strong> расположение предприятия</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_border-main">
                <div class="card__content">
                    <h3 class="card__title">09</h3>
                    <div class="card__text text">
                        <p><strong>Узнаваемость</strong> бренда Uberture</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-main">
                <div class="card__content">
                    <h3 class="card__title card__title_dark">10</h3>
                    <div class="card__text card__text_light text">
                        <p><strong>Четкая и понятная</strong> сбытовая политика Компании: территориальное деление, соблюдение торговых наценок</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_border-grey">
                <div class="card__content">
                    <h3 class="card__title">11</h3>
                    <div class="card__text text">
                        <p><strong>Отслеживание</strong> тенденций развития дизайна и внедрение современных разработок в ассортиментную матрицу</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_border-main">
                <div class="card__content">
                    <h3 class="card__title">12</h3>
                    <div class="card__text text">
                        <p><strong>Использование</strong> для производства самых современных и высокотехнологичных сырья и материалов</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-white">
                <div class="card__content">
                    <h3 class="card__title">13</h3>
                    <div class="card__text text">
                        <p><strong>Тотальный</strong> контроль качества входящего сырья, высокие требования к поставщикам</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-dark">
                <div class="card__content">
                    <h3 class="card__title">14</h3>
                    <div class="card__text card__text_light text">
                        <p><strong>Обширная</strong> представленность продукции на территории России и стран СНГ</p>
                    </div>
                </div>
            </article>
            <article class="card card_start card_fill-white">
                <div class="card__content">
                    <h3 class="card__title">15</h3>
                    <div class="card__text text">
                        <p><strong>Активная</strong> социальная позиция Компании – помогаем активно участникам СВО</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>