<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- мы представляем -</h2>
                <h2 class="section__title">Бренды</h2>
            </div>
        </div>

        <div class="brand-list">
            <article class="brand-card" style="background-color: #F66201;">
                <img class="brand-card__image" src="../assets/images/brand-1.png" alt="Brand">
                <h3 class="brand-card__name">Межкомнатные двери<br> и реечные панели</h3>
            </article>
            <article class="brand-card" style="background-color: #28574C;">
                <img class="brand-card__image" src="../assets/images/brand-2.png" alt="Brand">
                <h3 class="brand-card__name">Стеновые панели мдф</h3>
            </article>
        </div>
    </div>
</section>