<section class="section">
    <div class="section__header">
        <div class="section__title-wrapper">
            <h3 class="section__title section__title_small">Классика</h3>
        </div>
    </div>

    <div class="collection-list collection-list_col-3">
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Катунь
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-1.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <div class="label label_small collection__label">
                <div class="label__item label__item_new">Новинка</div>
            </div>
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Алтай
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-2.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Байкал
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-3.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Verona
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-4.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Unline
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-5.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Parma
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-6.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Modern
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-7.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Perfecto
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-8.png" alt="Collection">
            </div>
        </article>
    </div>
</section>

<section class="section">
    <div class="section__header">
        <div class="section__title-wrapper">
            <h3 class="section__title section__title_small">Неоклассика</h3>
        </div>
    </div>

    <div class="collection-list collection-list_col-3">
        <article class="collection">
            <div class="label label_small collection__label">
                <div class="label__item label__item_new">Новинка</div>
            </div>

            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Катунь
            </h3>
            <div class="collection__image">
                <img src="../assets/images/door-default.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Алтай
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-2.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Байкал
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-3.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <div class="label label_small collection__label">
                <div class="label__item label__item_hit">Хит</div>
            </div>

            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Perfecto
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-8.png" alt="Collection">
            </div>
        </article>
    </div>
</section>

<section class="section">
    <div class="section__header">
        <div class="section__title-wrapper">
            <h3 class="section__title section__title_small">Модерн</h3>
        </div>
    </div>

    <div class="collection-list collection-list_col-3">
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Verona
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-4.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Unline
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-5.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Parma
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-6.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Modern
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-7.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Perfecto
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-8.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Катунь
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-1.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Алтай
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-2.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Байкал
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-3.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Катунь
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-1.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Алтай
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-2.png" alt="Collection">
            </div>
        </article>
        <article class="collection">
            <a href="#" class="collection__link"></a>
            <h4 class="collection__subtitle">коллекция</h4>
            <h3 class="collection__title">
                <span class="dots"></span>
                Байкал
            </h3>
            <div class="collection__image">
                <img src="../assets/images/collection-3.png" alt="Collection">
            </div>
        </article>
    </div>
</section>