<nav class="catalog-section-list">
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Межкомнатные двери</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__name">Классика:</div>
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Бия</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Катунь</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Алтай</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Сибирь</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Кавказ</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Флоренция</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Верона</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Прадо</a>
                    </div>
                </div>
                <div class="catalog-subsection">
                    <div class="catalog-subsection__name">Неоклассика:</div>
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Мадрид</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Байкал</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Парма</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Деканто</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Сицилия</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Версаль</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Сорренто</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Неоклассика</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Классика</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Багетная Классика</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Лайт Классика</a>
                    </div>
                </div>
                <div class="catalog-subsection">
                    <div class="catalog-subsection__name">Модерн:</div>
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Модерн</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Юнилайн</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Лайт</a>
                    </div>
                </div>
                <div class="catalog-subsection">
                    <div class="catalog-subsection__name">Современный стиль:</div>
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Перфекто</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Тамбурат</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Тамбурат Лайт</a>
                        <a class="catalog-subsection__link" href="#">Геометрия</a>
                    </div>
                </div>
                <div class="catalog-subsection">
                    <div class="catalog-subsection__name">Дверные накладки</div>
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Лайт</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Флоренция</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Перфекто</a>
                        <a class="catalog-subsection__link" href="#">Коллекция НЕО</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Деканто</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Тамбурат</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Акустические панели</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Akustik</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Стеновые панели</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Favorite</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Lord</a>
                        <a class="catalog-subsection__link" href="#">Коллекция Light</a>
                        <a class="catalog-subsection__link" href="#">Угол универсальный 22х22 мм</a>
                        <a class="catalog-subsection__link" href="#">Угол универсальный 28х28 мм</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Реечные панели</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Rail</a>
                        <a class="catalog-subsection__link" href="#">Коллекция River</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">УФ-печатные панели</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Панели 60х60 см</a>
                        <a class="catalog-subsection__link" href="#">Панели 60х30 см</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Кашированые панели</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Коллекция Akustik</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Напольный плинтус</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Плинтус №1705</a>
                        <a class="catalog-subsection__link" href="#">Плинтус №1704</a>
                        <a class="catalog-subsection__link" href="#">Плинтус №1977</a>
                        <a class="catalog-subsection__link" href="#">Плинтус №1978</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-section js-dropdown">
        <div class="catalog-section__header">
            <a href="#" class="catalog-section__name">Дверной погонаж</a>
            <button class="catalog-section__dropdown-button js-dropdown-button"></button>
        </div>
        <div class="catalog-section__list js-dropdown-body">
            <div class="catalog-section__list-inner">
                <div class="catalog-subsection">
                    <div class="catalog-subsection__list">
                        <a class="catalog-subsection__link" href="#">Дверные короба</a>
                        <a class="catalog-subsection__link" href="#">Дверные наличники</a>
                        <a class="catalog-subsection__link" href="#">Доборные планки</a>
                        <a class="catalog-subsection__link" href="#">Карнизы</a>
                        <a class="catalog-subsection__link" href="#">Сандрики</a>
                        <a class="catalog-subsection__link" href="#">Декоративные детали</a>
                        <a class="catalog-subsection__link" href="#">Притворная планка</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>