<section class="section">
    <div class="catalog-category-list category-list">
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">№1704</h3>
            <img class="category-card__image" src="../assets/images/product-1.png" alt="Category">
        </article>
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">Подкатегория #2</h3>
            <img class="category-card__image" src="../assets/images/collection-7.png" alt="Category">
        </article>
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">№1704</h3>
            <img class="category-card__image" src="../assets/images/collection-1.png" alt="Category">
        </article>
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">№1705</h3>
            <img class="category-card__image" src="../assets/images/door-default.png" alt="Category">
        </article>
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">Еще одна подкатегория каталога с очень-очень длинным названием для теста переполнения</h3>
            <img class="category-card__image" src="../assets/images/collection-3.png" alt="Category">
        </article>
        <article class="category-card">
            <a class="category-card__link" href="#"></a>
            <h3 class="category-card__name">Подкатегория #2</h3>
            <img class="category-card__image" src="../assets/images/collection-4.png" alt="Category">
        </article>
    </div>

    <div class="catalog-panel">
        <div class="filter-item filter-item_sort js-filter">
            <button type="button" class="filter-item__name js-filter-name">Сортировка</button>

            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="radio">
                            <input class="radio__input" type="radio" id="sort-1" name="sort" checked>
                            <label class="radio__label" for="sort-1">По возрастанию цены</label>
                        </div>
                        <div class="radio">
                            <input class="radio__input" type="radio" id="sort-2" name="sort">
                            <label class="radio__label" for="sort-2">По убыванию цены</label>
                        </div>
                        <div class="radio">
                            <input class="radio__input" type="radio" id="sort-3" name="sort">
                            <label class="radio__label" for="sort-3">По популярности</label>
                        </div>
                        <div class="radio">
                            <input class="radio__input" type="radio" id="sort-4" name="sort">
                            <label class="radio__label" for="sort-4">По наличию</label>
                        </div>
                        <div class="radio">
                            <input class="radio__input" type="radio" id="sort-5" name="sort">
                            <label class="radio__label" for="sort-5">По размеру скидки</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_mobile js-filter">
            <button type="button" class="filter-item__name js-filter-name">Фильтр</button>
        
            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-dropdown__item js-dropdown">
                        <div class="filter-dropdown__header">
                            <div class="filter-dropdown__title">Стиль</div>
                            <button type="button" class="button button_with-icon button_size-2xs button_white-fill button_a-active button_rounded filter-dropdown__button js-dropdown-button">
                                <img src="../assets/icons/arrow.svg" alt="Arrow">
                            </button>
                        </div>
                        <div class="filter-dropdown__body js-dropdown-body">
                            <div class="filter-item__checkbox-list">
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-0-11" name="filter-field-0">
                                    <label class="checkbox__label" for="filter-field-0-11">Параметр фильтра #1</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-0-12" name="filter-field-0">
                                    <label class="checkbox__label" for="filter-field-0-12">Параметр фильтра #2</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-0-13" name="filter-field-0">
                                    <label class="checkbox__label" for="filter-field-0-13">Название параметра фильтра #3 с длинным значением для теста переполнения</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter-dropdown__item js-dropdown">
                        <div class="filter-dropdown__header">
                            <div class="filter-dropdown__title">Опция фильтра #1</div>
                            <button type="button" class="button button_with-icon button_size-2xs button_white-fill button_a-active button_rounded filter-dropdown__button js-dropdown-button">
                                <img src="../assets/icons/arrow.svg" alt="Arrow">
                            </button>
                        </div>
                        <div class="filter-dropdown__body js-dropdown-body">
                            <div class="filter-item__checkbox-list">
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-1-21" name="filter-field-1">
                                    <label class="checkbox__label" for="filter-field-1-21">Параметр фильтра #1</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-1-22" name="filter-field-1">
                                    <label class="checkbox__label" for="filter-field-1-22">Параметр фильтра #2</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-1-23" name="filter-field-1">
                                    <label class="checkbox__label" for="filter-field-1-23">Параметр фильтра #3</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-1-24" name="filter-field-1">
                                    <label class="checkbox__label" for="filter-field-1-24">Параметр фильтра #4</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter-dropdown__item js-dropdown">
                        <div class="filter-dropdown__header">
                            <div class="filter-dropdown__title">Опция фильтра #2</div>
                            <button type="button" class="button button_with-icon button_size-2xs button_white-fill button_a-active button_rounded filter-dropdown__button js-dropdown-button">
                                <img src="../assets/icons/arrow.svg" alt="Arrow">
                            </button>
                        </div>
                        <div class="filter-dropdown__body js-dropdown-body">
                            <div class="filter-item__checkbox-list">
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-31" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-31">Параметр фильтра #1</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-32" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-32">Параметр фильтра #2</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-33" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-33">Параметр фильтра #3</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-34" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-34">Параметр фильтра #4</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-35" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-35">Параметр фильтра #5</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-36" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-36">Параметр фильтра #6</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-37" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-37">Параметр фильтра #7</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-38" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-38">Параметр фильтра #8</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-39" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-39">Параметр фильтра #9</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="filter-field-2-310" name="filter-field-2">
                                    <label class="checkbox__label" for="filter-field-2-310">Параметр фильтра #10</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Стиль</button>

            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-0-1" name="filter-field-0">
                            <label class="checkbox__label" for="filter-field-0-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-0-2" name="filter-field-0">
                            <label class="checkbox__label" for="filter-field-0-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-0-3" name="filter-field-0">
                            <label class="checkbox__label" for="filter-field-0-3">Название параметра фильтра #3 с длинным значением для теста переполнения</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Опция фильтра #1</button>

            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-1-1" name="filter-field-1">
                            <label class="checkbox__label" for="filter-field-1-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-1-2" name="filter-field-1">
                            <label class="checkbox__label" for="filter-field-1-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-1-3" name="filter-field-1">
                            <label class="checkbox__label" for="filter-field-1-3">Параметр фильтра #3</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-1-4" name="filter-field-1">
                            <label class="checkbox__label" for="filter-field-1-4">Параметр фильтра #4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Опция фильтра #2</button>
        
            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-1" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-2" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-3" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-3">Параметр фильтра #3</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-4" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-4">Параметр фильтра #4</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-5" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-5">Параметр фильтра #5</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-6" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-6">Параметр фильтра #6</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-7" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-7">Параметр фильтра #7</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-8" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-8">Параметр фильтра #8</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-9" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-9">Параметр фильтра #9</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-2-10" name="filter-field-2">
                            <label class="checkbox__label" for="filter-field-2-10">Параметр фильтра #10</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Опция фильтра #3</button>
        
            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-3-1" name="filter-field-3">
                            <label class="checkbox__label" for="filter-field-3-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-3-2" name="filter-field-3">
                            <label class="checkbox__label" for="filter-field-3-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-3-3" name="filter-field-3">
                            <label class="checkbox__label" for="filter-field-3-3">Параметр фильтра #3</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-3-4" name="filter-field-3">
                            <label class="checkbox__label" for="filter-field-3-4">Параметр фильтра #4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Цвет</button>
        
            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-6-1" name="filter-field-6">
                            <label class="checkbox__label" for="filter-field-6-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-6-2" name="filter-field-6">
                            <label class="checkbox__label" for="filter-field-6-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-6-3" name="filter-field-6">
                            <label class="checkbox__label" for="filter-field-6-3">Название параметра фильтра #3 с длинным значением для теста переполнения</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-item filter-item_desktop js-filter">
            <button type="button" class="filter-item__name js-filter-name">Остекление</button>
        
            <div class="filter-item__dropdown js-filter-dropdown">
                <div class="filter-item__dropdown-inner">
                    <div class="filter-item__checkbox-list">
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-7-1" name="filter-field-7">
                            <label class="checkbox__label" for="filter-field-7-1">Параметр фильтра #1</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-7-2" name="filter-field-7">
                            <label class="checkbox__label" for="filter-field-7-2">Параметр фильтра #2</label>
                        </div>
                        <div class="checkbox">
                            <input class="checkbox__input" type="checkbox" id="filter-field-7-3" name="filter-field-7">
                            <label class="checkbox__label" for="filter-field-7-3">Название параметра фильтра #3 с длинным значением для теста переполнения</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-list">
        <article class="product-card">
            <div class="label label_small product-card__label">
                <div class="label__item label__item_new">Новинка</div>
            </div>
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/product-1.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-5.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-6.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/door-default.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-2.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-5.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-6.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/door-default.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-2.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-6.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/door-default.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-2.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <div class="label label_small product-card__label">
                <div class="label__item label__item_sale">- 15%</div>
            </div>

            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/door-default.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-2.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Тестовый товар</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-2.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-3.png" alt="Product">
                    </div>
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/collection-4.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
        <article class="product-card">
            <a class="product-card__link" href="#"></a>
            <div class="js-swiper-product-card product-card__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../assets/images/door-default.png" alt="Product">
                    </div>
                </div>

                <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
            </div>
            <div class="product-card__content">
                <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
            </div>
        </article>
    </div>

    <div class="section__footer">
        <div class="pagination">
            <a href="#" class="pagination__item pagination__item_back">
                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0.5L1 6.5L7 12.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Назад
            </a>
            <span class="pagination__item pagination__item_current">1</span>
            <a href="#" class="pagination__item">2</a>
            <a href="#" class="pagination__item">3</a>
            <a href="#" class="pagination__item">4</a>
            <a href="#" class="pagination__item">5</a>
            <a href="#" class="pagination__item pagination__item_next">
                Вперед
                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 12.5L7 6.5L0.999999 0.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>
</section>