<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- продукция -</h2>
                <h2 class="section__title">Еще мы изготавливаем</h2>
            </div>
        </div>

        <div class="category-list">
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Стеновые панели МДФ</h3>
                <img class="category__image" src="../assets/images/category-1.png" alt="Category">
            </article>
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Реечные панели МДФ</h3>
                <img class="category__image" src="../assets/images/category-2.png" alt="Category">
            </article>
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Стеновые УФ - панели</h3>
                <img class="category__image" src="../assets/images/category-3.png" alt="Category">
            </article>
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Акустические панели</h3>
                <img class="category__image" src="../assets/images/category-4.png" alt="Category">
            </article>
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Напольный плинтус</h3>
                <img class="category__image" src="../assets/images/category-5.png" alt="Category">
            </article>
            <article class="category">
                <a href="#" class="category__link"></a>
                <h3 class="category__name">Дверные накладки</h3>
                <img class="category__image" src="../assets/images/category-6.png" alt="Category">
            </article>
        </div>
    </div>
</section>