<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- продукция -</h2>
                <h2 class="section__title">Какие двери мы делаем?</h2>
            </div>

            <div class="section__button-list">
                <a href="#" class="button button_a-active button_pale-stroke button_size-s button_rounded">
                    <span>Царговые</span>
                </a>
                <a href="#" class="button button_a-active button_pale-stroke button_size-s button_rounded">
                    <span>Сотовые</span>
                </a>
                <a href="#" class="button button_a-active button_pale-stroke button_size-s button_rounded">
                    <span>Весь каталог</span>
                </a>
            </div>
        </div>

        <div class="collection-list">
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Катунь
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-1.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Алтай
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-2.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Байкал
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-3.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Verona
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-4.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Unline
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-5.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Parma
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-6.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Modern
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-7.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Perfecto
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-8.png" alt="Collection">
                </div>
            </article>
        </div>

        <nav class="fast-nav-list">
            <article class="fast-nav">
                <a href="#" class="fast-nav__link"></a>
                <div class="fast-nav__content text">
                    <h4>33 декора на выбор</h4>
                </div>
                <img class="fast-nav__image" src="../assets/images/fast-nav-1.png" alt="Fast Nav">
            </article>
            <article class="fast-nav fast-nav_wide">
                <button href="#" class="fast-nav__link js-open-modal" data-modal-id="callback"></button>
                <div class="fast-nav__content text">
                    <h4>Под заказ нестандарты</h4>
                    <ul>
                        <li>По высоте от 1900-2300 мм, шаг 50 мм</li>
                        <li>По ширине  от 400-1000 мм, шаг 50 мм</li>
                    </ul>
                </div>
                <img class="fast-nav__image" src="../assets/images/fast-nav-2.png" alt="Fast Nav">
            </article>
            <article class="fast-nav">
                <a href="#" class="fast-nav__link"></a>
                <div class="fast-nav__content text">
                    <h4>Заводская врезка фурнитуры</h4>
                    <p>Только для тамбуратных<br> дверей с металлической<br> кромкой</p>
                </div>
                <img class="fast-nav__image" src="../assets/images/fast-nav-3.png" alt="Fast Nav">
            </article>
        </nav>
    </div>
</section>