<section class="section section_bg-white section_padding">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- ответы -</h2>
                <h2 class="section__title">Ответы на часто задаваемые вопросы</h2>
            </div>
        </div>

        <div class="dropdown-list">
            <div class="dropdown__item js-dropdown">
                <div class="dropdown__header">
                    <div class="dropdown__title">Можно ли у вас заказать доставку товара в регионы определенной транспортной компанией?</div>
                    <button type="button" class="button button_with-icon button_size-s button_white-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                        <img src="../assets/icons/arrow.svg" alt="Arrow">
                    </button>
                </div>
                <div class="dropdown__body js-dropdown-body text">
                    <div class="faq-content">
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                    </div>
                </div>
            </div>

            <div class="dropdown__item js-dropdown">
                <div class="dropdown__header">
                    <div class="dropdown__title">Сможете ли вы изготовить изделие из фторопласта без чертежа по фотографии?</div>
                    <button type="button" class="button button_with-icon button_size-s button_white-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                        <img src="../assets/icons/arrow.svg" alt="Arrow">
                    </button>
                </div>
                <div class="dropdown__body js-dropdown-body text">
                    <div class="faq-content">
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                    </div>
                </div>
            </div>

            <div class="dropdown__item js-dropdown">
                <div class="dropdown__header">
                    <div class="dropdown__title">Как и чем можно склеить фторопласт?</div>
                    <button type="button" class="button button_with-icon button_size-s button_white-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                        <img src="../assets/icons/arrow.svg" alt="Arrow">
                    </button>
                </div>
                <div class="dropdown__body js-dropdown-body text">
                    <div class="faq-content">
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                    </div>
                </div>
            </div>
            <div class="dropdown__item js-dropdown">
                <div class="dropdown__header">
                    <div class="dropdown__title">Организуете ли вы доставку полимерных материалов в Иркутск?</div>
                    <button type="button" class="button button_with-icon button_size-s button_white-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                        <img src="../assets/icons/arrow.svg" alt="Arrow">
                    </button>
                </div>
                <div class="dropdown__body js-dropdown-body text">
                    <div class="faq-content">
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                    </div>
                </div>
            </div>
            <div class="dropdown__item js-dropdown">
                <div class="dropdown__header">
                    <div class="dropdown__title">Можно самостоятельно выбрать обрезки полимерных материалов для покупки?</div>
                    <button type="button" class="button button_with-icon button_size-s button_white-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                        <img src="../assets/icons/arrow.svg" alt="Arrow">
                    </button>
                </div>
                <div class="dropdown__body js-dropdown-body text">
                    <div class="faq-content">
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                        <h6>Заголовок ответа</h6>
                        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ipsum пояс продолжил путь однажды.</p>
                        <p>Живет снова языкового пунктуация города? Дал себя моей раз маленький по всей языкового, дорогу то. Вдали?</p>
                        <h6>Заголовок ответа</h6>
                        <p>Мы принимаем заказы со всех регионов РФ. Любую партию полимерных материалов мы доставим в Иркутск транспортной компанией на ваш выбор.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>