<div class="section panel-section">
    <div class="container">
        <div class="panel">
            <div class="panel__text text">
                <h5 style="font-weight: 500;">Ищем дилеров для сотрудничества!</h5>
                <p style="color: var(--grey-color);">
                    Ищем партнеров для поставки продукции в ваш магазин или открытие фирменного салона Uberture<br>
                    <strong>Свободные города: Хабаровск, Волгоград, Краснодар, Симферополь.</strong>
                </p>
                <br>
                <button class="button button_a-active button_main-fill button_rounded button_size-s js-open-modal"
                    data-modal-id="dealer">
                    <span>Стать партнером</span>
                </button>
            </div>

            <img class="panel__image" src="../assets/images/map.svg" alt="Map">
        </div>
    </div>
</div>