<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col_company">
                <div class="company company_col" href="/">
                    <a class="company__logo" href="/">
                        <img src="../assets/images/logo.svg" alt="Logotype">
                    </a>
                    <span class="company__text">
                        Официальный сайт<br> 
                        завода производителя<br>
                        Работаем с 1995 года
                    </span>
                </div>
            </div>
            <div class="footer__col footer__col_menu">
                <div class="footer__menu">
                    <a href="#">Компания</a>
                    <a href="#">О нас</a>
                    <a href="#">История</a>
                </div>
            </div>
            <div class="footer__col footer__col_menu">
                <div class="footer__menu">
                    <a href="#">Полезно</a>
                    <a href="#">Уход за материалами</a>
                    <a href="#">Рекомендации по монтажу</a>
                    <a href="#">Сертификаты</a>
                    <a href="#">Гарантия</a>
                </div>
            </div>
            <div class="footer__col footer__col_menu">
                <div class="footer__menu">
                    <a href="#">Каталог</a>
                    <a href="#">Межкомнатные двери</a>
                    <a href="#">Стеновые панели</a>
                    <a href="#">Реечные панели</a>
                    <a href="#">Плинтус</a>
                    <a href="#">Дверной погонаж</a>
                    <a href="#">Угол универсальный МДФ</a>
                    <a href="#">История</a>
                </div>
            </div>
            <div class="footer__col footer__col_menu">
                <div class="footer__menu">
                    <a href="#">Контакты</a>
                    <a href="#">Где купить</a>
                    <a href="#">Личный кабинет</a>
                </div>
            </div>
            <div class="footer__col footer__col_contacts">
                <div class="footer__phone">
                    <a class="footer__phone-value" href="tel:88004545252">8 800 454 52 52</a>
                    <span class="footer__phone-name">Работаем с 8:00 - 17:00</span>
                    <small class="footer__phone-description">НСО г. Бердск</small>
                </div>

                <img src="../assets/images/30_together.png" alt="30 years together" style="width: 160px;">
            </div>
            <div class="footer__col footer__col_copyright">
                <div class="footer__text">© 1995-2025 Группа компаний «Убертюре», Более 30 лет успешной работы!</div>
            </div>
            <div class="footer__col footer__col_develop">
                <div class="footer__text">Разработка и продвижение сайта <a href="https://seo-move.ru">Seo-Move</a></div>
            </div>
        </div>
    </div>
</footer>

<div class="cookie-notification js-cookie-notification">
    <div class="text cookie-notification__text">
        <p>Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookie, пользовательских данных (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес) в целях функционирования сайта, проведения ретаргетинга и проведения статистических исследований и обзоров. Если вы не хотите, чтобы ваши данные обрабатывались, покиньте сайт.</p>
    </div>
    <button class="button button_a-active button_rounded button_size-s button_white-stroke cookie-notification__button js-cookie-notification-button">
        <span>Понятно</span>
    </button>
</div>

<div class="menu js-menu">
    <div class="menu__overlay js-menu-overlay"></div>

    <div class="menu__inner">
        <div class="menu__header">
            <div class="company company_col" href="/">
                <a class="company__logo" href="/">
                    <img src="../assets/images/logo.svg" alt="Logotype">
                </a>
            </div>

            <button class="menu__close js-menu-close"></button>
        </div>

        <div class="menu__body">
            <nav class="menu__nav">
                <a class="menu__nav-item" href="#">О компании</a>
                <a class="menu__nav-item" href="#">Каталог</a>
                <a class="menu__nav-item" href="#">Где купить?</a>
                <a class="menu__nav-item" href="#">Дилерам</a>
                <a class="menu__nav-item" href="#">Поддержка</a>
                <a class="menu__nav-item" href="#">Контакты</a>
            </nav>
        </div>
    </div>
</div>