<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <div class="company company_col" href="/">
                    <a class="company__logo" href="/">
                        <img src="../assets/images/logo.svg" alt="Logotype">
                    </a>
                    <span class="company__text">
                        Официальный сайт<br> 
                        завода производителя<br>
                        Работаем с 1995 года
                    </span>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <a href="#">Компания</a>
                    <a href="#">О нас</a>
                    <a href="#">История</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <a href="#">Полезно</a>
                    <a href="#">Уход за материалами</a>
                    <a href="#">Рекомендации по монтажу</a>
                    <a href="#">Сертификаты</a>
                    <a href="#">Гарантия</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <a href="#">Каталог</a>
                    <a href="#">Межкомнатные двери</a>
                    <a href="#">Стеновые панели</a>
                    <a href="#">Реечные панели</a>
                    <a href="#">Плинтус</a>
                    <a href="#">Дверной погонаж</a>
                    <a href="#">Угол универсальный МДФ</a>
                    <a href="#">История</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__menu">
                    <a href="#">Контакты</a>
                    <a href="#">Где купить</a>
                    <a href="#">Личный кабинет</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__phone">
                    <a class="footer__phone-value" href="tel:88004545252">8 800 454 52 52</a>
                    <span class="footer__phone-name">Работаем с 8:00 - 17:00</span>
                    <small class="footer__phone-description">НСО г. Бердск</small>
                </div>

                <img src="../assets/images/30_together.png" alt="30 years together">
            </div>
            <div class="footer__col footer__col_half">
                <div class="footer__text">© 1995-2025 Группа компаний «Убертюре», Более 30 лет успешной работы!</div>
            </div>
            <div class="footer__col footer__col_half">
                <div class="footer__text">Разработка и продвижение сайта <a href="https://seo-move.ru">Seo-Move</a></div>
            </div>
        </div>
    </div>
</footer>