<section class="section">
    <div class="container">
        <div class="content content_reverse">
            <div class="js-swiper-gallery content__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content__image">
                            <img class="content__image-inner" src="../assets/images/callback-3.png" alt="Callback" loading="lazy">
                        </div>
                    </div>
                </div>

                <div class="slider-manage content__slider-manage">
                    <button type="button" class="js-swiper-gallery-button-prev slider-button slider-button_dark slider-button_prev"></button>
                    <button type="button" class="js-swiper-gallery-button-next slider-button slider-button_dark slider-button_next"></button>
                    <div class="js-swiper-gallery-pagination slider-pagination slider-pagination_transfer-last"></div>
                </div>
            </div>

            <div class="content__main">
                <div class="section__header">
                    <div class="section__title-wrapper">
                        <h2 class="section__subtitle">- сотрудничество -</h2>
                        <h2 class="section__title">Стать дилером</h2>
                        <div class="section__text">Мы вышлем вам прайс лист и расскажем о взаимовыгодном сотрудничестве</div>
                    </div>
                </div>
        
                <form class="form js-form">
                    <div class="form__field-list">
                        <div class="form__field-item form__field-item_wide">
                            <div class="field field_light">
                                <label class="field__label">Имя и фамилия</label>
                                <input class="field__input" type="text" name="name" required>
                            </div>
                        </div>
                        <div class="form__field-item">
                            <div class="field field_light">
                                <label class="field__label">E-mail</label>
                                <input class="field__input" type="email" name="email" required>
                            </div>
                        </div>
                        <div class="form__field-item">
                            <div class="field field_light">
                                <label class="field__label">Номер телефона</label>
                                <input class="field__input" type="tel" name="tel" required>
                            </div>
                        </div>
                        <div class="form__field-item form__field-item_wide">
                            <div class="field field_light">
                                <label class="field__label">Название компании</label>
                                <input class="field__input" type="text" name="company" required>
                            </div>
                        </div>
                        <div class="form__field-item form__field-item_wide">
                            <div class="field field_light">
                                <label class="field__label">Сайт</label>
                                <input class="field__input" type="url" name="site" required>
                            </div>
                        </div>
                        <div class="form__field-item">
                            <div class="field field_light">
                                <label class="field__label">Страна</label>
                                <input class="field__input" type="text" name="country" required>
                            </div>
                        </div>
                        <div class="form__field-item">
                            <div class="field field_light">
                                <label class="field__label">Город</label>
                                <input class="field__input" type="text" name="city" required>
                            </div>
                        </div>
                        <div class="form__field-item form__field-item_wide">
                            <div class="field field_light">
                                <label class="field__label">Комментарий</label>
                                <input class="field__input" type="text" name="comment">
                            </div>
                        </div>
                        <div class="form__field-item">
                            <div class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="confirm-dealer" name="confirm" checked required>
                                <label class="checkbox__label" for="confirm-dealer">Нажимая на кнопку вы соглашаетесь<br> на <a class="link" href="#">обработку персональных данных</a></label>
                            </div>
                        </div>
                        <div class="form__field-item form__field-item_button">
                            <button type="submit" class="button button_main-fill button_rounded button_a-active button_size-s">
                                <span>Отправить</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>