<section class="section gallery">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__subtitle">На работе</h3>
                <h2 class="section__title">Рабочие моменты</h2>
            </div>

            <div class="text section__text">
                <p>
                    <strong>Сборка царговых дверей.</strong><br> 
                    На этом этапе формируют единое дверное полотно<br> 
                    из отдельных элементов — царг (поперечных планок) и стоек.
                </p>
            </div>
        </div>

        <div class="js-swiper-gallery gallery__inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery__slide">
                        <img class="gallery__image" src="../assets/images/gallery-2.png" alt="Gallery" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slide">
                        <img class="gallery__image" src="../assets/images/gallery-1.png" alt="Gallery" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slide">
                        <img class="gallery__image" src="../assets/images/hero-2.png" alt="Gallery" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slide">
                        <img class="gallery__image" src="../assets/images/about-video.png" alt="Gallery" loading="lazy">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slide">
                        <img class="gallery__image" src="../assets/images/about-video-2.png" alt="Gallery" loading="lazy">
                    </div>
                </div>
            </div>

            <button type="button" class="js-swiper-gallery-button-prev slider-button slider-button_dark slider-button_prev"></button>
            <button type="button" class="js-swiper-gallery-button-next slider-button slider-button_dark slider-button_next"></button>
            <div class="js-swiper-gallery-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
        </div>
    </div>
</section>