<header class="header header_top header_dark">
    <div class="container">
        <div class="header__inner">
            <div class="company" href="/">
                <a class="company__logo" href="/">
                    <img src="../assets/images/logo.svg" alt="Logotype">
                </a>
                <span class="company__text">Официальный сайт<br> завода производителя</span>
            </div>

            <div class="header__menu">
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">О компании</a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        Каталог
                        <svg viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.5L6 5.5L11 0.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>

                    <div class="header__submenu">
                        <div class="header__submenu-inner">
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Межкомнатные двери</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Дверной погонаж</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Напольный плинтус</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Стеновые панели</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Реечные панели</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Акустические панели</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">Кашированые панели</a>
                            </div>
                            <div class="header__submenu-item">
                                <span class="dots"></span>
                                <a class="header__submenu-link" href="#">УФ-печатные панели</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">Где купить?</a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">Дилерам</a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">Поддержка</a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">Контакты</a>
                </div>
            </div>

            <div class="header__button">
                <a href="#" class="button header__button-phone">
                    <img src="../assets/icons/phone.svg" alt="Phone">
                    <span>8 800 454 52 52</span>
                </a>

                <a href="#" class="button button header__button-personal">
                    <img src="../assets/icons/user.svg" alt="Profile">
                </a>

                <a href="#" class="button header__button-cart" data-count="5">
                    <img src="../assets/icons/cart.svg" alt="Cart">
                </a>

                <button class="burger header__button-burger js-menu-open">
                    <img src="../assets/icons/burger.svg" alt="Menu">
                </button>
            </div>
        </div>
    </div>
</header>