<section class="section section_padding section_dark help">
    <div class="container">
        <div class="help__inner">
            <div class="section__header">
                <div class="section__title-wrapper">
                    <h2 class="section__subtitle">- документы-</h2>
                    <h2 class="section__title"><b>Uberture</b> — стабильная<br> надежная компания</h2>
                    <div class="section__text">
                        Серийное производство изготовления межкомнатных дверей, стеновых панелей<br> и остальной продукции Компании “Убертюре” сертифицировано и соответствует<br> нормам и требованиям Российской Федерации.
                    </div>
                </div>
            </div>

            <div class="advantages-list advantages-list_col-2 help__advantages">
                <article class="advantage advantage_border-pale advantage_fill-dark">
                    <div class="advantage__icon advantage__icon_stroke">
                        <svg width="23" height="35" viewBox="0 0 23 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.4998 21.8752C17.1377 21.8752 21.7082 17.3047 21.7082 11.6668C21.7082 6.02892 17.1377 1.4585 11.4998 1.4585C5.86193 1.4585 1.2915 6.02892 1.2915 11.6668C1.2915 17.3047 5.86193 21.8752 11.4998 21.8752Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M5.97308 20.2563L4.2085 33.5417L11.5002 29.1667L18.7918 33.5417L17.0272 20.2417" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <h3 class="advantage__title advantage__title_light">Контроль<br> качества</h3>
                    <div class="advantage__text text">
                        <p>Осуществляем три этапа контроля: входной,<br> операционный и контроль готовой<br> продукции.</p>
                    </div>
                </article>
                <article class="advantage advantage_border-pale advantage_fill-dark">
                    <img class="help__advantage-image" src="../assets/images/certificates.png" alt="Certificates">
                    <div class="help__advantage-text"><b>*</b> Сертификаты<br> соотвествия<br> на продукцию</div>
                    <h3 class="advantage__title advantage__title_light">Сертификаты<br> на продукцию</h3>
                    <div class="advantage__text text">
                        <p>
                            Вся продукция прошла добровольную сертификацию, которая подтверждает и гарантирует  ее качество и безопасность для потребителей.<br>
                            <a href="#">Скачать сертификаты</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>