<section class="section section_padding section_dark help">
    <div class="container">
        <div class="help__inner">
            <div class="section__header">
                <div class="section__title-wrapper">
                    <h2 class="section__subtitle">- помощь в выборе-</h2>
                    <h2 class="section__title">Мы поможем подобрать <b>продукцию</b>,<br> которая <b>будет продаваться</b></h2>
                </div>
            </div>

            <div class="tag">
                <div class="tag__category">
                    <div class="tag__title">К нам обращаются:</div>
                    <div class="tag__list">
                        <div class="tag__item">Владельцы строительных и отделочных материалов магазинов</div>
                        <div class="tag__item">Застройщики</div>
                        <div class="tag__item">Владельцы салонов межкомнатных дверей</div>
                    </div>
                </div>
                <div class="tag__category">
                    <div class="tag__title">Куда ставят наши двери:</div>
                    <div class="tag__list">
                        <div class="tag__item">Квартиры</div>
                        <div class="tag__item">Частные дома</div>
                        <div class="tag__item">Торговые центры / магазины</div>
                        <div class="tag__item">Конференц залы</div>
                        <div class="tag__item">Объекты образования</div>
                        <div class="tag__item">Объекты спорта</div>
                        <div class="tag__item">Новостройки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>