<div class="section section_no-mb hero">
    <div class="js-swiper-hero">
        <div class="swiper-wrapper">

            <!-- Слайд 1990 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-1.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">1990 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Приобретена технологическая линия в Ганнвере для изготовления стеновых панелей.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 1991 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-2.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">1991 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 1991 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 1997 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-2.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">1997 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 1997 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2006 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-3.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2006 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2006 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2013 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-4.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2013 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2013 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2014 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-5.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2014 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2014 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2016 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-6.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2016 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2016 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2017 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-7.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2017 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2017 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Слайд 2022 -->
            <div class="swiper-slide">
                <div class="hero__slide hero__slide_light">
                    <img class="hero__image" src="../assets/images/hero-history-7.png" alt="Hero" loading="lazy">
                    <div class="container">
                        <div class="hero__content history-hero-slide">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breadcrumbs__item" href="#">Главная</a>
                                            <a class="breadcrumbs__item" href="#">О компании</a>
                                            <span class="breadcrumbs__item">История</span>
                                        </div>
                                    </div>
                                    <h2 class="section__title section__title_like-h1">Наша история</h2>
                                    <div class="history-hero-year-list">
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="0"><span>1990</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="1"><span>1991</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="2"><span>1997</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="3"><span>2006</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="4"><span>2013</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="5"><span>2014</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="6"><span>2016</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_pale-stroke js-swiper-hero-change-slide" data-slide="7"><span>2017</span></button>
                                        <button class="button button_a-active button_size-s button_rounded button_main-fill js-swiper-hero-change-slide" data-slide="8"><span>2022</span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="history-hero-content">
                                <div class="history-hero-content-title">2022 - Описание таймлайна.</div>
                                <div class="history-hero-content-text">Описание событий 2022 года.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
