<div class="section section_no-mb section_dark hero">
    <div class="js-swiper-hero">
        <div class="swiper-wrapper">            
            <div class="swiper-slide">
                <div class="hero__slide">
                    <img class="hero__image" src="../assets/images/hero-3.png" alt="Hero" loading="lazy">

                    <div class="container">
                        <div class="hero__content">
                            <div class="section__header section__header_no-mb">
                                <div class="section__title-wrapper">
                                    <div class="breadcrumbs">
                                        <div class="breadcrumbs__wrapper">
                                            <a class="breacrumbs__item" href="#">Главная</a>
                                            <a class="breacrumbs__item" href="#">О компании</a>
                                            <span class="breacrumbs__item">О нас</span>
                                        </div>
                                    </div>

                                    <h2 class="section__title section__title_like-h1">Качество которому<br> можно доверять</h2>
                                </div>
                            </div>

                            <div class="text">
                                <p>
                                    Все изделия выпускаются на высокотехнологичном оборудовании<br> 
                                    с применение импортных материалов. Мы можем уверенно гарантировать сроки<br> 
                                    и качество производства всех видов продукции.
                                </p>
                            </div>
                            
                            <a href="#" class="button button_white-stroke button_a-active button_rounded button_size-s">
                                <span>Отдел продаж</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-manage hero__slider-manage">
            <button type="button" class="js-swiper-hero-button-prev slider-button slider-button_prev"></button>
            <button type="button" class="js-swiper-hero-button-next slider-button slider-button_next"></button>
            <div class="js-swiper-hero-pagination slider-pagination slider-pagination_transfer-last"></div>
        </div>

        <a href="#next-block" class="circle hero__circle">
            <img class="circle__icon" src="../assets/icons/scroll.svg" alt="Scroll" loading="lazy">
        </a>
    </div>
</div>

<div id="next-block"></div>