<section class="section">
    <div class="container">
        <div class="content-list">
            <div class="content">
                <div class="content__main">
                    <div class="text">
                        <p><strong>Компания "Uberture"</strong> - один из ведущих в России производителей межкомнатных дверей, стеновых панелей МДФ и декоративных профильных изделий МДФ для комплексной отделки интерьера.</p>
                        <p>История <strong>"Uberture"</strong> начинается с конца 1995 года, когда еще предприятие называлось «Мастер и К».  Было принято решение первыми в России освоить производство декоративных панелей на основе древесных плит. Специально приобретена технологическая линия в Ганновере, которая позволила в кратчайшие сроки начать выпуск продукции европейского уровня. Мы, по сути, имеем дело с уникальным явлением: на судорожном фоне экономики 90-х годов зазвучала тема "русского качества". Качество и инновации являются приоритетом для нас и сегодня.</p>
                        <p>"Мастер и К" начинал свою деятельность как новатор. Это очень сильное конкурентное преимущество на начальном этапе развития.</p>
                    </div>
                </div>
                <div class="content__image">
                    <img class="content__image-inner" src="../assets/images/history-content-1.png" alt="History">
                </div>
            </div>
            <div class="content content_reverse">
                <div class="content__image">
                    <img class="content__image-inner" src="../assets/images/history-content-2.png" alt="History">
                </div>
                <div class="content__main">
                    <div class="text">
                        <p>С 2007 года активно стало развиваться направление по производству межкомнатных дверей. Начиналось все с производства погонажных деталей межкомнатных дверей для конечных сборщиков. Но вскоре мы поняли перспективность данного направления и в 2010 году создали бренд межкомнатных дверей <strong>«Uberture»</strong>.</p>
                        <p>Торговая марка <strong>“Uberture”</strong> сочетает в себе художественные концепции увертюры и искусства создания дверей. Увертюра, как инструментальное вступление, символизирует открытие новых возможностей и начало новых этапов, подобно тому, как двери открывают путь в новые миры.</p>
                        <p>В том же 2010 разработали торговую марку стеновых панелей МДФ - <strong>«Wand der Welt»</strong>., в пер. с немецкого языка – «стены мира», олицетворяя наши амбициозные планы по расширению географии продаж и доступности продукции для широкой аудитории по всему миру. </p>
                    </div>
                </div>
            </div>

            <div class="cards cards_col-4 history-cards">
                <article class="card card_start card_fill-white">
                    <div class="card__content">
                        <div class="card__text card__text_dots text">
                            <p>Технологию производство панелей со временем модернизировали, разработали технологию крепления панелей между собой – <strong>«шип-паз»</strong>, что позволяет скрыть монтаж.</p>
                        </div>
                    </div>
                </article>
                <article class="card card_start card_fill-white">
                    <div class="card__content">
                        <div class="card__text card__text_dots text">
                            <p>На сегодняшний день производственная площадка <strong>"Uberture"</strong> является автономной и полностью оснащенной для нужд производства, площадь которого составляет 11 000 м2.</p>
                        </div>
                    </div>
                </article>
                <article class="card card_start card_fill-white">
                    <div class="card__content">
                        <div class="card__text card__text_dots text">
                            <p><strong>"Uberture"</strong> имеет собственную котельную, служебные, складские, административные помещения, железнодорожные подъездные пути и погрузочно-разгрузочную рампу, позволяющую принимать и отправлять до 100 вагонов сырья и продукции в месяц, а также осуществлять контейнерные и автомобильные отгрузки.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="content">
                <div class="content__main">
                    <div class="text">
                        <p>Компания <strong>«Uberture»</strong> благодаря своей 30-летней истории развития многого смогла добиться.</p>
                        <p>Достижения <strong>«Uberture»</strong> - это не только вклад в развитие строительной отрасли в Новосибирской области. Это достижения в сфере внедрения инноваций,  развития социальных программ, в сфере подбора высококвалифицированных специалистов, разрабатывающих, изготавливающих и внедряющих новые продукты на территории предприятия.</p>
                        <p>Мы постоянно обновляем нашу ассортиментную матрицу, выпуская новые продукты и повышаем качество выпускаемой продукции, обновляя постоянно наш парк оборудования.</p>
                        <p>Наши планы, как и стратегия развития, остаются неизменными — расширение ассортимента и географию поставок межкомнатных дверей, стеновых панелей и других видов отделки для стен. "Uberture" была и остаётся надежным поставщиком для всех наших партнёров и потребителей!</p>
                    </div>
                </div>
                <div class="content__image">
                    <img class="content__image-inner" src="../assets/images/history-content-3.png" alt="History">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="history-list">
            <article class="history-item">
                <h3 class="history-item__date">1995 год</h3>
                <div class="history-item__text text">
                    <p>Год основания компании «Мастер и К». Приобретена технологическая линия для изготовления стеновых панелей в Ганновере. Обучение сотрудников в Германии технологии изготовления.</p>
                </div>
            </article>
            <article class="history-item">
                <h3 class="history-item__date">1997 год</h3>
                <div class="history-item__text text">
                    <p>Компания «Мастер и К» удостоились диплома конкурса «Золотая медаль Сибирской ярмарки» за производство качественных и конкурентоспособных стеновых панелей.</p>
                </div>
            </article>
            <article class="history-item">
                <h3 class="history-item__date">1999 год</h3>
                <div class="history-item__text text">
                    <p>Стеновые панели от «Мастер и К» получили диплом за высокое качество продукции на выставке-ярмарке «Строймаркет-99» (Сочи).</p>
                    <p>«Мастер и К» получил диплом 2 степени на Кузбасской ярмарке (Новокузнецк) за лучший экспонент, представленный на международной выставке-ярмарке «Архитектура. Строительство».</p>
                    <p>Стеновые панели от «Мастер и К» получили диплом за высококачественные декоративные панели на выставке «Дом – 99» (Хабаровск).</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2001 год</h3>
                <div class="history-item__text text">
                    <p>Мебельный погонаж «Мастер и К» получил дипломом лауреата на специализированной выставке «Мебель России» за внедрение новой технологии изготовления фасадов для мебели.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2002 год</h3>
                <div class="history-item__text text">
                    <p>Строительство производственных цехов на новой площадке. Строительство собственных подъездных ж/д путей.</p>
                    <p>«Мастер и К» удостоился золотой медали Межрегионального конкурса «Лучшие товары Сибири – Гемма 2002».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2003 год</h3>
                <div class="history-item__text text">
                    <p>Профильные детали из древесных материалов, мебельные профили и багет на основе МДФ от компании «Мастер и К» заслужили диплом 1 степени  программы «100 лучших товаров России».</p>
                    <p>За расширение ассортимента отделочных материалов для сибирского региона компания «Мастер и К» была отмечена дипломом конкурса «Золотая медаль Сибирской ярмарки».</p>
                    <p>«Мастер и К» стал лауреатом премии «Золотой меркурий» в номинации «Лучшее малое предприятие в сфере промышленного производства и строительства».</p>
                    <p>«Мастер и К» получил диплом лауреата межрегионального конкурса «Лучшие товары Сибири – Гемма».</p>
                    <p>Мебельная продукция удостоилась диплома выставки «Мебель России» в номинации «Прогрессивные технологии в производстве».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2004 год</h3>
                <div class="history-item__text text">
                    <p>Расширение предприятия и переезд на новые производственные цеха, площадью 1 га.</p>
                    <p>Ассоциация предприятий мебельной и деревообрабатывающей промышленности России отметила «Мастер и К» за освоение производства погонажных изделий для мебельных фасадов, обеспечивающих оригинальные дизайнерские решения.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2005 год</h3>
                <div class="history-item__text text">
                    <p>Эконом-панель производства «Мастер и К» заслужила диплом конкурса «Золотая медаль Сибирской ярмарки».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2007 год</h3>
                <div class="history-item__text text">
                    <p>Развитие направления  межкомнатные двери. Создание бренда межкомнатных дверей «Uberture» и стеновых панелей «Wand der Welt».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2008 год</h3>
                <div class="history-item__text text">
                    <p>Мебельная продукция заслужила диплом 1 степени на международной выставке «Мебель-2008» с присвоением золотой медали за качество.</p>
                    <p>Межкомнатные двери производства ООО «Мастер и К» награждены золотой медалью межрегионального конкурса «Лучшие товары и услуги Сибири – Гемма».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2010 год</h3>
                <div class="history-item__text text">
                    <p>Производство корпусной мебели и багетных профильных изделий.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2011 год</h3>
                <div class="history-item__text text">
                    <p>Участие «Мастер и К» в выставке Mosbuild</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2012 год</h3>
                <div class="history-item__text text">
                    <p>ООО "Мастеру и К" присужден диплом лауреата конкурса продукции, услуг и технологий "Новосибирская марка" Мэрии города Новосибирска в номинации "За разработку и внедрение новых материалов и эффективных технологий".</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2014 год</h3>
                <div class="history-item__text text">
                    <p>Создание нового продукта – прототип будущих домов-вилл одноэтажного исполнения для Селигера. Выпуск противопожарных, звукоизоляционных межкомнатных дверей.  Производство новых продуктов: кессонный потолок, интерьерные панели, напольный плинтус, карнизы.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2015 год</h3>
                <div class="history-item__text text">
                    <p>Юбилей компании «Мастер и К» - 20 лет успешной истории!</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2016 год</h3>
                <div class="history-item__text text">
                    <p>Крупная автоматизация производства, полная перепланировка дверного цеха. Выпуск новых коллекций дверей : Uniline и Verona.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2017 год</h3>
                <div class="history-item__text text">
                    <p>Выпуск новой коллекции дверей с косичкой «Palermo», коллекция «Versailles», а также кессонный потолок и панели «Versailles», тамбуратные двери и панели, стеновые панели «Quoadro», панель «Ritz», двери «Master»</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2019 год</h3>
                <div class="history-item__text text">
                    <p>Банкроство Группы компаний «Мастер и К», и рождение новой компании «Убертюре».</p>
                    <p>Выпуск новых коллекций дверей «Сорренто» и «Сицилия»</p>
                    <p>Покупка широкоформатного УФ принтера. </p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2020 год</h3>
                <div class="history-item__text text">
                    <p>Создана коллекция стеновых панелей МДФ «Lord» в износостойком покрытии ПВХ. Выпуск новых коллекций дверей «Decanto» и «Perfecto».</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2021 год</h3>
                <div class="history-item__text text">
                    <p>MosBuild 2021 , после удачной выставки нас пригласили участвовать в программе «Большая переделка», в проекте использовали наши двери коллекции «Decanto».</p>
                    <p>Автоматизация производства, приобретены: фрезеровочный станок,  мембранно-вакуумный пресс.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2022 год</h3>
                <div class="history-item__text text">
                    <p>Участие в выставке межкомнатных дверей в Молдавии и в Ташкенте.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2023 год</h3>
                <div class="history-item__text text">
                    <p>Участие в выставке MosBuild 2023.</p>
                    <p>Автоматизация производства, приобретены: станок торцовочный, станок для прямолинейной обработки и полировки кромки стекла, горизонтальная машина для мойки листового стекла, покупка нового станка по раскрою стекла, калибровально-шлифовальный станок.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2024 год</h3>
                <div class="history-item__text text">
                    <p>Автоматизация производства, приобретены: ПУР-станция 300мм - модернизация облицовочного станка Duspohl в линии погонажа, фрезерный станок с ЧПУ, Гидравлический подъемный стол для подачи заготовок на линию каширования, пильный центр с ЧПУ - раскрой и форматирование листовых материалов МДФ, ДСП и т.д.</p>
                </div>
            </article>
            <article class="history-item js-toggle-elements-element" data-toggle-elements="history">
                <h3 class="history-item__date">2025 год</h3>
                <div class="history-item__text text">
                    <p>Автоматизация производства, приобретены: рельефно-шлифовальный станок для МДФ, фрезерный станок для присадки дверных коробок под скрытые петли, клеенаносящий станок.</p>
                    <p>Выпуск акустических реечных панелей на фетре и МДФ.</p>
                    <p>Выпуск печатных стеновых УФ панелей.</p>
                    <p>Выпуск новых коллекций дверей: коллекция «БИЯ», коллекция «Багетная классика», коллекция  «Лайт классика».</p>
                    <p>Юбилей Компании «Uberture» - 30 лет на рынке межкомнатных дверей и стеновых панелей!</p>
                </div>
            </div>
        </div>

        <div class="section__footer photo-list-buttons">
            <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-show" data-toggle-elements="history">
                <span>Показать еще</span>
            </button>
            <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-hide" data-toggle-elements="history">
                <span>Скрыть</span>
            </button>
        </div>
    </div>
</section>