<div class="models models_col-4">
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/interior-1.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/interior-2.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/interior-3.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image model__image_cover">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Interior" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
</div>