<section class="section section_padding section_bg-grey section_no-mb">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- работа -</h2>
                <h2 class="section__title">Вакансии</h2>
            </div>

            <div class="section__button-list">
                <button class="button button_a-active button_main-stroke button_size-s button_rounded js-tab-button" data-tab-group="job" data-tab-id="office">
                    <span>Офис</span>
                </button>
                <button class="button button_a-active button_pale-stroke button_size-s button_rounded js-tab-button" data-tab-group="job" data-tab-id="production">
                    <span>Производство</span>
                </button>
            </div>
        </div>

        <div data-tab-group="job" data-tab-content="office" style="display: block;">
            <div class="dropdown-list">
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Водитель (1)</div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                    <br>
                                    <h6>Требования:</h6>
                                    <ul>
                                        <li>Опыт работы на деревообрабатывающих станках;</li>
                                        <li>Технический склад ума и развитое пространственное мышление;</li>
                                        <li>Готовность к обучению;</li>
                                        <li>Ответственное выполнение должностных обязанностей.</li>
                                    </ul>
                                </div>
                                <div class="job-content__description-item">
                                    <h6>Условия:</h6>
                                    <ul>
                                        <li>От 72 000 ₽ за месяц, на руки</li>
                                        <li>Опыт работы: 1–3 года</li>
                                        <li>5-ти дневная рабочая неделя, с 8.00 ч. до 17.00 ч.;</li>
                                        <li>Работа в крупной стабильной производственной компании;</li>
                                        <li>Официальное трудоустройство;</li>
                                        <li>Достойная заработная плата 2 раза в месяц (сдельная);</li>
                                        <li>Служебный транспорт по г. Бердску;</li>
                                        <li>Полный соц. пакет;</li>
                                        <li>Дружный коллектив;</li>
                                        <li>Работа в центре г. Бердска.</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="job-content__offer-list">
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Бердск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Новосибирск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Контролёр ОТК (1) </div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                    <br>
                                    <h6>Требования:</h6>
                                    <ul>
                                        <li>Опыт работы на деревообрабатывающих станках;</li>
                                        <li>Технический склад ума и развитое пространственное мышление;</li>
                                        <li>Готовность к обучению;</li>
                                        <li>Ответственное выполнение должностных обязанностей.</li>
                                    </ul>
                                </div>
                                <div class="job-content__description-item">
                                    <h6>Условия:</h6>
                                    <ul>
                                        <li>От 72 000 ₽ за месяц, на руки</li>
                                        <li>Опыт работы: 1–3 года</li>
                                        <li>5-ти дневная рабочая неделя, с 8.00 ч. до 17.00 ч.;</li>
                                        <li>Работа в крупной стабильной производственной компании;</li>
                                        <li>Официальное трудоустройство;</li>
                                        <li>Достойная заработная плата 2 раза в месяц (сдельная);</li>
                                        <li>Служебный транспорт по г. Бердску;</li>
                                        <li>Полный соц. пакет;</li>
                                        <li>Дружный коллектив;</li>
                                        <li>Работа в центре г. Бердска.</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="job-content__offer-list">
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Бердск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Новосибирск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Начальник смены, мастер участка (1)  </div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                    <br>
                                    <h6>Требования:</h6>
                                    <ul>
                                        <li>Опыт работы на деревообрабатывающих станках;</li>
                                        <li>Технический склад ума и развитое пространственное мышление;</li>
                                        <li>Готовность к обучению;</li>
                                        <li>Ответственное выполнение должностных обязанностей.</li>
                                    </ul>
                                </div>
                                <div class="job-content__description-item">
                                    <h6>Условия:</h6>
                                    <ul>
                                        <li>От 72 000 ₽ за месяц, на руки</li>
                                        <li>Опыт работы: 1–3 года</li>
                                        <li>5-ти дневная рабочая неделя, с 8.00 ч. до 17.00 ч.;</li>
                                        <li>Работа в крупной стабильной производственной компании;</li>
                                        <li>Официальное трудоустройство;</li>
                                        <li>Достойная заработная плата 2 раза в месяц (сдельная);</li>
                                        <li>Служебный транспорт по г. Бердску;</li>
                                        <li>Полный соц. пакет;</li>
                                        <li>Дружный коллектив;</li>
                                        <li>Работа в центре г. Бердска.</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="job-content__offer-list">
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Бердск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Новосибирск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Оператор станков с ЧПУ (2)</div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                    <br>
                                    <h6>Требования:</h6>
                                    <ul>
                                        <li>Опыт работы на деревообрабатывающих станках;</li>
                                        <li>Технический склад ума и развитое пространственное мышление;</li>
                                        <li>Готовность к обучению;</li>
                                        <li>Ответственное выполнение должностных обязанностей.</li>
                                    </ul>
                                </div>
                                <div class="job-content__description-item">
                                    <h6>Условия:</h6>
                                    <ul>
                                        <li>От 72 000 ₽ за месяц, на руки</li>
                                        <li>Опыт работы: 1–3 года</li>
                                        <li>5-ти дневная рабочая неделя, с 8.00 ч. до 17.00 ч.;</li>
                                        <li>Работа в крупной стабильной производственной компании;</li>
                                        <li>Официальное трудоустройство;</li>
                                        <li>Достойная заработная плата 2 раза в месяц (сдельная);</li>
                                        <li>Служебный транспорт по г. Бердску;</li>
                                        <li>Полный соц. пакет;</li>
                                        <li>Дружный коллектив;</li>
                                        <li>Работа в центре г. Бердска.</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="job-content__offer-list">
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Бердск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                                <div class="job-content__offer">
                                    <div class="job-content__offer-title">Требуется в г. Новосибирск <b>(ООО Убертюре, 2 апреля)</b> &nbsp;&nbsp; ЗП от 72 000 до 108 000 ₽</div>
    
                                    <button class="button button_a-active button_rounded button_size-s button_main-fill job-content__offer-button">
                                        <span>Откликнуться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-tab-group="job" data-tab-content="production">
            <div class="dropdown-list">
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Вакансия #1</div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="dropdown__item dropdown__item_white js-dropdown">
                    <div class="dropdown__header">
                        <div class="dropdown__title">Вакансия #2</div>
                        <button type="button" class="button button_with-icon button_size-s button_grey-fill button_a-active button_rounded dropdown__button js-dropdown-button">
                            <img src="../assets/icons/arrow.svg" alt="Arrow">
                        </button>
                    </div>
                    <div class="dropdown__body js-dropdown-body">
                        <div class="job-content">
                            <div class="job-content__description text">
                                <div class="job-content__description-item">
                                    <h6>Обязанности:</h6>
                                    <ul>
                                        <li>Редактирование программы, выбор режима резки и настройка параметров обработки деталей</li>
                                        <li>Установка заготовок и съем готовых деталей</li>
                                        <li>Контроль правильной работы станка</li>
                                        <li>Подбор режущего инструмента</li>
                                        <li>Фрезерование профильных изделий из МДФ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>