<section class="section section_bg-white section_padding">
    <div class="container">
        <div class="content">
            <div class="content__main">
                <div class="section__header">
                    <div class="section__title-wrapper">
                        <h2 class="section__subtitle">- полезное -</h2>
                        <h2 class="section__title">Маркетинговые материалы</h2>
                        <div class="section__text">Стильные и удобные каталоги помогут презентовать<br> и продавать продукцию лучше.</div>

                        <div class="cards cards_col-3 marketing-materials">
                            <article class="card card_space-between card_fill-grey">
                                <div class="card__content">
                                    <a href="#" class="card__link"></a>
                                    <h3 class="card__title card__title_dark">Образцы</h3>
                                    <h3 class="card__text text">Декоративных пленок</h3>
                                </div>
                                <div class="card__image">
                                    <img src="../assets/images/marketing-1.png" alt="Marketing">
                                </div>
                            </article>
                            <article class="card card_space-between card_fill-grey">
                                <div class="card__content">
                                    <a href="#" class="card__link"></a>
                                    <h3 class="card__title card__title_dark">Стенды</h3>
                                    <h3 class="card__text text">Стенды и папки</h3>
                                </div>
                                <div class="card__image">
                                    <img src="../assets/images/marketing-2.png" alt="Marketing">
                                </div>
                            </article>
                            <article class="card card_space-between card_fill-grey">
                                <div class="card__content">
                                    <a href="#" class="card__link"></a>
                                    <h3 class="card__title card__title_dark">Каталоги</h3>
                                    <h3 class="card__text text">Дверей и панелей</h3>
                                </div>
                                <div class="card__image">
                                    <img src="../assets/images/marketing-3.png" alt="Marketing">
                                </div>
                            </article>
                        </div>

                        <a class="button button_a-active button_rounded button_pale-stroke button_size-s section__button" href="#">
                            <span>Открыть каталог</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content__image">
                <img class="content__image-inner" src="../assets/images/marketing.png" alt="Marketing">
            </div>
        </div>
    </div>
</section>