<div class="models">
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-1.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-2.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">3Д модель и интерьер двери с длинным названием для теста переполнения</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/model-3.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <img class="model__image-inner" src="../assets/images/door-default.png" alt="Model" loading="lazy">
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
</div>