<div class="models models_col-8">
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-1.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-2.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">3Д модель</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/door-default.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/model-3.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
    <article class="model js-toggle-elements-element" data-toggle-elements="model">
        <a href="#" class="model__link"></a>
        <div class="model__image">
            <div class="model__image-inner">
                <img src="../assets/images/door-default.png" alt="model" loading="lazy">
            </div>
        </div>
        <h3 class="model__name">ПДО 83002</h3>
    </article>
</div>

<div class="section__footer models-list-buttons">
    <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-show" data-toggle-elements="model">
        <span>Показать еще</span>
    </button>
    <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-hide" data-toggle-elements="model">
        <span>Скрыть</span>
    </button>
</div>