<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__subtitle">- полезная информация -</h3>
                <h2 class="section__title">Новости</h2>
            </div>

            <a href="#" class="button button_main-stroke button_rounded button_size-s button_a-active">
                <span>Все статьи</span>
            </a>
        </div>

        <div class="js-swiper-article article-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="article">
                        <a class="article__link" href="#"></a>
                        <div class="article__image">
                            <img class="article__image-inner" src="../assets/images/article-1.png" alt="Article" loading="lazy">
                        </div>
                        <div class="article__date">30 августа 2019</div>
                        <h4 class="article__name">Как правильно измерить дверной проём перед покупкой дверей?</h4>
                    </article>
                </div>
                
                <div class="swiper-slide">
                    <article class="article">
                        <a class="article__link" href="#"></a>
                        <div class="article__image">
                            <img class="article__image-inner" src="../assets/images/article-2.png" alt="Article" loading="lazy">
                        </div>
                        <div class="article__date">30 августа 2019</div>
                        <h4 class="article__name">Как правильно измерить дверной проём перед покупкой дверей?</h4>
                    </article>
                </div>
                
                <div class="swiper-slide">
                    <article class="article">
                        <a class="article__link" href="#"></a>
                        <div class="article__image">
                            <img class="article__image-inner" src="../assets/images/article-3.png" alt="Article" loading="lazy">
                        </div>
                        <div class="article__date">30 августа 2019</div>
                        <h4 class="article__name">Как правильно измерить дверной проём перед покупкой дверей?</h4>
                    </article>
                </div>
                
                <div class="swiper-slide">
                    <article class="article">
                        <a class="article__link" href="#"></a>
                        <div class="article__image">
                            <img class="article__image-inner" src="../assets/images/door-default.png" alt="Article" loading="lazy">
                        </div>
                        <div class="article__date">30 августа 2019</div>
                        <h4 class="article__name">Классная и крутая новость от 30 августа 2019 с пустой картинкой и очень-очень длинным названием для теста переполнения контейнера</h4>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>