<section class="section section_bg-white section_no-mb section_padding">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- просмотр -</h2>
                <h2 class="section__title">Полистайте каталог</h2>
            </div>
        </div>

        <div style="
                height: 400px;
                background: var(--background-color-1);
                border-radius: 15px;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: var(--second-family);"
        >
            PDF
        </div>
    </div>
</section>