<div class="profile-decors-button">
    <button class="button button_a-active button_main-stroke button_size-s button_rounded js-tab-button" data-tab-group="decors" data-tab-id="interior">
        <span>Межкомнатные двери</span>
    </button>
    <button class="button button_a-active button_pale-stroke button_size-s button_rounded js-tab-button" data-tab-group="decors" data-tab-id="wall">
        <span>Стеновые панели</span>
    </button>
    <button class="button button_a-active button_pale-stroke button_size-s button_rounded js-tab-button" data-tab-group="decors" data-tab-id="remal">
        <span>Реечные панели</span>
    </button>
</div>

<div data-tab-group="decors" data-tab-content="interior" style="display: block;">
    <section class="section">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__title section__title_small">Межкомнатные двери</h3>
            </div>

            <a href="#" class="button button_main-stroke button_rounded button_size-2xs button_a-active">
                <span>Скачать все</span>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 8V10.3333C11.5 10.6428 11.3771 10.9395 11.1583 11.1583C10.9395 11.3771 10.6428 11.5 10.3333 11.5H2.16667C1.85725 11.5 1.5605 11.3771 1.34171 11.1583C1.12292 10.9395 1 10.6428 1 10.3333V8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.32812 5.08325L6.24479 7.99992L9.16146 5.08325" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.25 8V1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

        <div class="personal-decor-quad-list">
            <div class="models models_col-5">
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-1.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-2.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-3.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-4.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-5.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-6.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
            </div>
        </div>
        <div class="personal-interiors-list">
            <div class="models models_col-4">
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-1.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-2.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-3.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
            </div>
        </div>
    </section>
</div>

<div data-tab-group="decors" data-tab-content="wall">
    <section class="section">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__title section__title_small">Стеновые панели</h3>
            </div>

            <a href="#" class="button button_main-stroke button_rounded button_size-2xs button_a-active">
                <span>Скачать все</span>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 8V10.3333C11.5 10.6428 11.3771 10.9395 11.1583 11.1583C10.9395 11.3771 10.6428 11.5 10.3333 11.5H2.16667C1.85725 11.5 1.5605 11.3771 1.34171 11.1583C1.12292 10.9395 1 10.6428 1 10.3333V8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.32812 5.08325L6.24479 7.99992L9.16146 5.08325" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.25 8V1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

        <div class="personal-decor-quad-list">
            <div class="models models_col-5">
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-1.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-2.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-3.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
            </div>
        </div>
        <div class="personal-interiors-list">
            <div class="models models_col-4">
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-1.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-2.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-3.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-1.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_cover">
                        <div class="model__image-inner">
                            <img src="../assets/images/interior-2.png" alt="Interior" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">Брендбук Uberture</h3>
                </article>
            </div>
        </div>
    </section>
</div>

<div data-tab-group="decors" data-tab-content="remal">
    <section class="section">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__title section__title_small">Реечные панели</h3>
            </div>

            <a href="#" class="button button_main-stroke button_rounded button_size-2xs button_a-active">
                <span>Скачать все</span>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 8V10.3333C11.5 10.6428 11.3771 10.9395 11.1583 11.1583C10.9395 11.3771 10.6428 11.5 10.3333 11.5H2.16667C1.85725 11.5 1.5605 11.3771 1.34171 11.1583C1.12292 10.9395 1 10.6428 1 10.3333V8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.32812 5.08325L6.24479 7.99992L9.16146 5.08325" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.25 8V1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

        <div class="personal-decor-quad-list">
            <div class="models models_col-5">
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-1.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-5.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/decor-6.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
                <article class="model">
                    <a href="#" class="model__link"></a>
                    <div class="model__image model__image_quad">
                        <div class="model__image-inner">
                            <img src="../assets/images/door-default.png" alt="Decor" loading="lazy">
                        </div>
                    </div>
                    <h3 class="model__name">ПДО 83002</h3>
                </article>
            </div>
        </div>
    </section>
</div>