<article class="banner">
    <img class="banner__image" src="../assets/images/banner-1.png" alt="Banner">
    <div class="banner__content">
        <h3 class="banner__title">Новая коллекция “Мадрид”</h3>
        <a class="button button_rounded button_a-active button_size-s button_main-fill banner__button" href="#">
            <span>Подробнее</span>
        </a>
    </div>
</article>

<div class="sidebar-article">
    <div class="sidebar-article__title">Новости</div>

    <div class="sidebar-article__list">
        <article class="article-small">
            <div class="article-small__date">30 августа 2019</div>
            <h4 class="article-small__name">
                <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
            </h4>
        </article>
        <article class="article-small">
            <div class="article-small__date">30 августа 2019</div>
            <h4 class="article-small__name">
                <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
            </h4>
        </article>
        <article class="article-small">
            <div class="article-small__date">30 августа 2019</div>
            <h4 class="article-small__name">
                <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
            </h4>
        </article>
    </div>

    <div class="sidebar-article__bottom">
        <a href="#">Все новости</a>
    </div>
</div>