<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__title section__title_small">В стиле коллекции</h2>
            </div>
        </div>

        <div class="product-list product-list_col-4">
            <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="js-swiper-product-card product-card__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/images/product-1.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-5.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-6.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/door-default.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-2.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-3.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-4.png" alt="Product">
                        </div>
                    </div>
    
                    <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                    <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                    <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
                </div>
                <div class="product-card__content">
                    <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
                </div>
            </article>
            <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="js-swiper-product-card product-card__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-5.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-6.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/door-default.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-2.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-3.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-4.png" alt="Product">
                        </div>
                    </div>
    
                    <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                    <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                    <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
                </div>
                <div class="product-card__content">
                    <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
                </div>
            </article>
            <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="js-swiper-product-card product-card__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-6.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/door-default.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-2.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-3.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-4.png" alt="Product">
                        </div>
                    </div>
    
                    <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                    <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                    <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
                </div>
                <div class="product-card__content">
                    <h3 class="product-card__name">Плинтус напольный из МДФ Орех светлый  №1704 100x16x2800мм (2 шт.уп.)</h3>
                </div>
            </article>
            <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="js-swiper-product-card product-card__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/images/door-default.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-2.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-3.png" alt="Product">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/images/collection-4.png" alt="Product">
                        </div>
                    </div>
    
                    <button type="button" class="js-swiper-product-card-button-prev slider-button slider-button_prev"></button>
                    <button type="button" class="js-swiper-product-card-button-next slider-button slider-button_next"></button>
                    <div class="js-swiper-product-card-pagination slider-pagination slider-pagination_thick slider-pagination_dark"></div>
                </div>
                <div class="product-card__content">
                    <h3 class="product-card__name">Тестовый товар</h3>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__title section__title_small">Популярные коллекции</h2>
            </div>
        </div>

        <div class="collection-list">
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Parma
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-6.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Modern
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-7.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Perfecto
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-8.png" alt="Collection">
                </div>
            </article>
        </div>
    </div>
</section>