<section class="section section_padding section_dark review-section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h3 class="section__subtitle">- мнения -</h3>
                <h2 class="section__title">Отзывы<br> о сотрудничестве</h2>
            </div>

            <div class="slider-manage reviews-slider-manage">
                <button type="button" class="js-swiper-review-button-prev slider-button slider-button_prev"></button>
                <button type="button" class="js-swiper-review-button-next slider-button slider-button_next"></button>
            </div>
        </div>

        <div class="js-swiper-review">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="review-card">
                        <div class="review-card__poster">
                            <img class="review-card__image" src="../assets/images/review-1.png" alt="Review">
                            <button class="review-card__play js-open-modal" data-review-id="1" data-modal-id="review-video"></button>
                        </div>
                        <h3 class="review-card__title">Представители <b>"Двери Регионов"</b> г. Москва</h3>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="review-card">
                        <div class="review-card__poster">
                            <img class="review-card__image" src="../assets/images/review-2.png" alt="Review">
                            <button class="review-card__play js-open-modal" data-review-id="2" data-modal-id="review-video"></button>
                        </div>
                        <h3 class="review-card__title">Очень длинное тестовое название видео-отзыва для теста переполнения контейнера заголовка очень длинное тестовое название</h3>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="review-card">
                        <div class="review-card__poster">
                            <img class="review-card__image" src="../assets/images/review-3.png" alt="Review">
                            <button class="review-card__play js-open-modal" data-review-id="3" data-modal-id="review-video"></button>
                        </div>
                        <h3 class="review-card__title">Представители <b>"Двери Регионов"</b> г. Москва</h3>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="review-card">
                        <div class="review-card__poster">
                            <img class="review-card__image" src="../assets/images/review-4.png" alt="Review">
                            <button class="review-card__play js-open-modal" data-review-id="4" data-modal-id="review-video"></button>
                        </div>
                        <h3 class="review-card__title">Представители <b>"Двери Регионов"</b> г. Москва</h3>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="review-card">
                        <div class="review-card__poster">
                            <img class="review-card__image" src="../assets/images/employee-default.png" alt="Review">
                            <button class="review-card__play js-open-modal" data-review-id="4" data-modal-id="review-video"></button>
                        </div>
                        <h3 class="review-card__title">Представители <b>"Двери Регионов"</b> г. Москва</h3>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>