<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- как доехать -</h2>
                <h2 class="section__title">Схема проезда</h2>
            </div>
        </div>

        <div class="scheme">
            <div class="scheme__item">
                <img class="scheme__item-inner" src="../assets/images/scheme-1.png" alt="Scheme">
            </div>
            <div class="scheme__item">
                <img class="scheme__item-inner" src="../assets/images/scheme-2.png" alt="Scheme">
            </div>
        </div>
    </div>
</section>