<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- этапы работы -</h2>
                <h2 class="section__title"><b>Предлаем гибкие условия</b><br> для сотрудничества:</h2>
            </div>
        </div>

        <div class="advantages-list advantages-list_col-4">
            <article class="advantage advantage_fill-white">
                <div class="advantage__icon">
                    <svg width="35" height="33" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.4585 7.75033V31.0837L11.6668 25.2503L23.3335 31.0837L33.5418 25.2503V1.91699L23.3335 7.75033L11.6668 1.91699L1.4585 7.75033Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.6665 1.91699V25.2503" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M23.3335 7.75V31.0833" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="advantage__number">01</div>
                <h3 class="advantage__title advantage__title_dark">Бесплатные образцы</h3>
                <div class="advantage__text text">
                    <p>Предоставляем бесплатно в качестве выставочных образцов нашу продукцию</p>
                </div>
            </article>
            <article class="advantage advantage_fill-white">
                <div class="advantage__icon">
                    <svg width="29" height="33" viewBox="0 0 29 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.75 1.91699L1.375 7.75033V28.167C1.375 28.9405 1.68229 29.6824 2.22927 30.2294C2.77625 30.7764 3.51812 31.0837 4.29167 31.0837H24.7083C25.4819 31.0837 26.2237 30.7764 26.7707 30.2294C27.3177 29.6824 27.625 28.9405 27.625 28.167V7.75033L23.25 1.91699H5.75Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1.375 7.75H27.625" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20.3332 13.583C20.3332 15.1301 19.7186 16.6138 18.6246 17.7078C17.5307 18.8018 16.0469 19.4163 14.4998 19.4163C12.9527 19.4163 11.469 18.8018 10.375 17.7078C9.28109 16.6138 8.6665 15.1301 8.6665 13.583" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="advantage__number">02</div>
                <h3 class="advantage__title advantage__title_dark">Эксклюзивная продукция</h3>
                <div class="advantage__text text">
                    <p>Возможности производства позволяют разработать и изготовить эксклюзивные изделия</p>
                </div>
            </article>
            <article class="advantage advantage_fill-white">
                <div class="advantage__icon">
                    <svg width="27" height="33" viewBox="0 0 27 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.83325 27.4378C1.83325 26.4709 2.21737 25.5436 2.90109 24.8598C3.58482 24.1761 4.51215 23.792 5.47909 23.792H25.1666" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5.47909 1.91699H25.1666V31.0837H5.47909C4.51215 31.0837 3.58482 30.6995 2.90109 30.0158C2.21737 29.3321 1.83325 28.4048 1.83325 27.4378V5.56283C1.83325 4.59589 2.21737 3.66856 2.90109 2.98483C3.58482 2.30111 4.51215 1.91699 5.47909 1.91699Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="advantage__number">03</div>
                <h3 class="advantage__title advantage__title_dark">Брендированная упаковка</h3>
                <div class="advantage__text text">
                    <p>Упаковка продукции под вашим логотипом в соответствии с фирменным стилем</p>
                </div>
            </article>
            <article class="advantage advantage_fill-white">
                <div class="advantage__icon">
                    <svg width="35" height="27" viewBox="0 0 35 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.6249 1.83301H4.37492C2.76409 1.83301 1.45825 3.13884 1.45825 4.74967V22.2497C1.45825 23.8605 2.76409 25.1663 4.37492 25.1663H30.6249C32.2357 25.1663 33.5416 23.8605 33.5416 22.2497V4.74967C33.5416 3.13884 32.2357 1.83301 30.6249 1.83301Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1.45825 10.583H33.5416" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="advantage__number">04</div>
                <h3 class="advantage__title advantage__title_dark">Сэкономим бюджет</h3>
                <div class="advantage__text text">
                    <p>Выгодные ценовые условия за счет собственного производства</p>
                </div>
            </article>
        </div>
        <div class="text">
            <br>
            <p><b>*</b> Условия обсуждаются индивидуально с каждым клиентом. </p>
        </div>
    </div>
</section>