<div class="section">
    <div class="container">
        <div class="store-list store-list_col-1">
            <article class="store-big">
                <div class="store-big__image">
                    <img class="store-big__image-inner" src="../assets/images/store-1.png" alt="Store" loading="lazy">
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Фирменный магазин</h3>
                    <div class="icon-property-list">
                        <span class="icon-property icon-property_address">г. Бердск, ул. Ленина 89/6</span>
                        <span class="icon-property icon-property_clock">пн-пт: с 09:00 до 19:00 (без перерыва)<br> сб: с 10:00 до 18:00 (без перерыва)<br> вс: выходной</span>
                        <span class="icon-property icon-property_phone-additional">
                            <a href="tel:+73832380942">+7 (383) 238 09 42</a>;&nbsp;<a href="tel:+79538026395">+7 (953) 802 63 95</a>
                        </span>
                        <a class="icon-property icon-property_email" href="mailto:uberture.td@bk.ru">uberture.td@bk.ru</a>
                    </div>
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Представлены:</h3>
                    <div class="text">
                        <ul>
                            <li> Межкомнатные двери</li>
                            <li>Стенове панели</li>
                            <li>Реечные панели</li>
                            <li>Дверной погонаж</li>
                            <li>Плинтус напольный</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="store-big__qr">
                    <span class="store-big__qr-title">На карте</span>
                    <img class="store-big__qr-inner" src="../assets/images/store-1-qr.png" alt="Store QR" loading="lazy">
                </a>
            </article>
            <article class="store-big">
                <div class="store-big__image">
                    <img class="store-big__image-inner" src="../assets/images/store-2.png" alt="Store" loading="lazy">
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Фирменный магазин</h3>
                    <div class="icon-property-list">
                        <span class="icon-property icon-property_address">г. Бердск, ул. Ленина 89/6</span>
                        <span class="icon-property icon-property_clock">пн-пт: с 09:00 до 19:00 (без перерыва)<br> сб: с 10:00 до 18:00 (без перерыва)<br> вс: выходной</span>
                        <span class="icon-property icon-property_phone-additional">
                            <a href="tel:+73832380942">+7 (383) 238 09 42</a>;&nbsp;<a href="tel:+79538026395">+7 (953) 802 63 95</a>
                        </span>
                        <a class="icon-property icon-property_email" href="mailto:uberture.td@bk.ru">uberture.td@bk.ru</a>
                    </div>
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Представлены:</h3>
                    <div class="text">
                        <ul>
                            <li> Межкомнатные двери</li>
                            <li>Стенове панели</li>
                            <li>Реечные панели</li>
                            <li>Дверной погонаж</li>
                            <li>Плинтус напольный</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="store-big__qr">
                    <span class="store-big__qr-title">На карте</span>
                    <img class="store-big__qr-inner" src="../assets/images/store-2-qr.png" alt="Store QR" loading="lazy">
                </a>
            </article>
            <article class="store-big">
                <div class="store-big__image">
                    <img class="store-big__image-inner" src="../assets/images/store-3.png" alt="Store" loading="lazy">
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Фирменный магазин</h3>
                    <div class="icon-property-list">
                        <span class="icon-property icon-property_address">г. Бердск, ул. Ленина 89/6</span>
                        <span class="icon-property icon-property_clock">пн-пт: с 09:00 до 19:00 (без перерыва)<br> сб: с 10:00 до 18:00 (без перерыва)<br> вс: выходной</span>
                        <span class="icon-property icon-property_phone-additional">
                            <a href="tel:+73832380942">+7 (383) 238 09 42</a>;&nbsp;<a href="tel:+79538026395">+7 (953) 802 63 95</a>
                        </span>
                        <a class="icon-property icon-property_email" href="mailto:uberture.td@bk.ru">uberture.td@bk.ru</a>
                    </div>
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Представлены:</h3>
                    <div class="text">
                        <ul>
                            <li> Межкомнатные двери</li>
                            <li>Стенове панели</li>
                            <li>Реечные панели</li>
                            <li>Дверной погонаж</li>
                            <li>Плинтус напольный</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="store-big__qr">
                    <span class="store-big__qr-title">На карте</span>
                    <img class="store-big__qr-inner" src="../assets/images/store-3-qr.png" alt="Store QR" loading="lazy">
                </a>
            </article>
            <article class="store-big">
                <div class="store-big__image">
                    <img class="store-big__image-inner" src="../assets/images/store-4.png" alt="Store" loading="lazy">
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Фирменный магазин</h3>
                    <div class="icon-property-list">
                        <span class="icon-property icon-property_address">г. Бердск, ул. Ленина 89/6</span>
                        <span class="icon-property icon-property_clock">пн-пт: с 09:00 до 19:00 (без перерыва)<br> сб: с 10:00 до 18:00 (без перерыва)<br> вс: выходной</span>
                        <span class="icon-property icon-property_phone-additional">
                            <a href="tel:+73832380942">+7 (383) 238 09 42</a>;&nbsp;<a href="tel:+79538026395">+7 (953) 802 63 95</a>
                        </span>
                        <a class="icon-property icon-property_email" href="mailto:uberture.td@bk.ru">uberture.td@bk.ru</a>
                    </div>
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Представлены:</h3>
                    <div class="text">
                        <ul>
                            <li> Межкомнатные двери</li>
                            <li>Стенове панели</li>
                            <li>Реечные панели</li>
                            <li>Дверной погонаж</li>
                            <li>Плинтус напольный</li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="store-big__qr">
                    <span class="store-big__qr-title">На карте</span>
                    <img class="store-big__qr-inner" src="../assets/images/store-4-qr.png" alt="Store QR" loading="lazy">
                </a>
            </article>
            <article class="store-big">
                <div class="store-big__image">
                    <img class="store-big__image-inner" src="../assets/images/store-default.png" alt="Store" loading="lazy">
                </div>
                <div class="store-big__content">
                    <h3 class="store-big__title">Тестовый магазин</h3>
                </div>
                <div class="store-big__content"></div>
            </article>
        </div>
    </div>
</div>