<section class="section">
    <div class="container">
        <div class="employee-list">
            <article class="employee-card employee-card_wide">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-default.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Генеральный директор ТД “Убертюре”</div>
                    <h3 class="employee-card__name">Василий Горюнов</h3>

                    <div class="employee-card__text text">
                        <p>Дорогие партнеры!</p>
                        <p>Сегодня нам 30 лет. Визитной карточкой «Uberture» является зарекомендовавшее себя качество нашей продукции. А постоянно растущие объемы производства подтверждают мои слова.</p>
                        <p>Мы рады долгосрочным отношениям с компаниями, которые, как и мы, неугомонны на рынке и с неослабевающим энтузиазмом относятся к новациям. Мы заинтересованы в увеличении прибыли наших партнеров, стремимся к лояльности и взаимоподдержке. Согласитесь, что клиент и поставщик – это единая система, которая выживает и процветает, если находятся в согласии и гармонии.</p>
                        <p>Удачи Вам в воплощении ваших идей!</p>
                    </div>

                    <div class="employee-card__properties icon-property-list">
                        <a class="icon-property icon-property_phone-main" href="tel:73832125547,3333">+7 383 212 55 47 (доб. 3333)</a>
                        <a class="icon-property icon-property_phone-additional" href="tel:79175834488">+7 917 583-44-88</a>
                        <a class="icon-property icon-property_email" href="mailto:gorunov@uberture.ru">gorunov@uberture.ru</a>
                    </div>

                    <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                        <span>Написать в Whatsapp</span>
                    </a>
                </div>
            </article>
            
            <article class="employee-card">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-1.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель отдела продаж по России</div>
                    <h3 class="employee-card__name">Андрей Ефремов</h3>
                    <div class="employee-card__properties icon-property-list">
                        <a class="icon-property icon-property_phone-main" href="tel:73832125547,2414">+7 383 212 55 47 (доб. 2414)</a>
                        <a class="icon-property icon-property_phone-additional" href="tel:791394158964">+7 913 941 58 96</a>
                        <a class="icon-property icon-property_email" href="mailto:efremov@uberture.ru">efremov@uberture.ru</a>
                        <span class="icon-property icon-property_address">НСО г. Бердск</span>
                    </div>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-2.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                    <div class="employee-card__properties icon-property-list">
                        <a class="icon-property icon-property_phone-main" href="tel:73832125547,2414">+7 383 212 55 47 (доб. 2414)</a>
                        <a class="icon-property icon-property_phone-additional" href="tel:791394158964">+7 913 941 58 96</a>
                        <a class="icon-property icon-property_email" href="mailto:efremov@uberture.ru">efremov@uberture.ru</a>
                        <span class="icon-property icon-property_address">НСО г. Бердск</span>
                    </div>
                </div>
            </article>

            <article class="employee-card">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-3.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-4.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-5.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                    <div class="employee-card__properties icon-property-list">
                        <a class="icon-property icon-property_phone-main" href="tel:73832125547,2414">+7 383 212 55 47 (доб. 2414)</a>
                        <a class="icon-property icon-property_phone-additional" href="tel:791394158964">+7 913 941 58 96</a>
                        <a class="icon-property icon-property_email" href="mailto:efremov@uberture.ru">efremov@uberture.ru</a>
                        <span class="icon-property icon-property_address">НСО г. Бердск</span>
                    </div>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-default.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-7.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-8.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-9.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-10.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-11.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>

            <article class="employee-card js-toggle-elements-element" data-toggle-elements="employee">
                <div class="employee-card__photo">
                    <img src="../assets/images/employee-12.png" alt="Emplyee">
                </div>
                
                <div class="employee-card__content">
                    <div class="employee-card__place">Руководитель экспортного отдела</div>
                    <h3 class="employee-card__name">Антон Толмачев</h3>
                </div>

                <a href="#" class="button button_rounded button_size-m button_a-active button_pale-stroke employee-card__button">
                    <span>Написать в Whatsapp</span>
                </a>
            </article>
        </div>

        <div class="section__footer employee-list-buttons">
            <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-show" data-toggle-elements="employee">
                <span>Показать все</span>
            </button>
            <button class="button button_a-active button_main-stroke button_size-s button_rounded js-toggle-elements-hide" data-toggle-elements="employee">
                <span>Скрыть</span>
            </button>
        </div>
    </div>
</section>