<section class="section">
    <div class="container">
        <div class="section__header">
            <div class="section__title-wrapper">
                <h2 class="section__subtitle">- просмотренное -</h2>
                <h2 class="section__title">Ранее смотрели</h2>
            </div>
        </div>

        <div class="collection-list">
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Катунь
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-1.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Алтай
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-2.png" alt="Collection">
                </div>
            </article>
            <article class="collection">
                <a href="#" class="collection__link"></a>
                <h4 class="collection__subtitle">коллекция</h4>
                <h3 class="collection__title">
                    <span class="dots"></span>
                    Байкал
                </h3>
                <div class="collection__image">
                    <img src="../assets/images/collection-3.png" alt="Collection">
                </div>
            </article>
        </div>
    </div>
</section>