.article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article__image {
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius);
    margin: 0 0 20px 0;
    display: block;
}

.article__image-inner {
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition-duration: 1s;
    width: 100%;
    height: 100%;
}

.article__image:hover .article__image-inner {
    transform: scale(1.05);
}

.article__date {
    font-size: 14px;
    color: var(--grey-color);
    margin: 0 0 7px 0;
}

.article__name,
.article__name * {
    font-size: 18px;
    color: var(--pale-color);
}

.article__name:hover,
.article__name:hover * {
    color: var(--text-color);
}

.article-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.article-small__date {
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-color);
}

.article-small__name {
    font-size: 16px;
}

.article-small__name a:hover {
    color: var(--main-color);
}