.button {
    --size-2xs: 45px;
    --size-xs: 50px;
    --size-s: 55px;
    --size-m: 60px;
    --size-l: 65px;
    --icon-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition-duration: .2s;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.button:disabled {
    pointer-events: none;
}

.button span {
    text-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    transition-duration: inherit;
}

.button svg,
.button img {
    transition-duration: inherit;
    width: var(--icon-size);
    max-height: var(--icon-size);
}

.button:not(:has(span)) {
    aspect-ratio: 1/1;
}

.button.button_rounded {
    border-radius: calc(var(--border-radius) * 2);
}

.button.button_rounded:not(:has(span)) {
    border-radius: 50%;
    padding: 5px;
}

.button.button_size-2xs {
    --icon-size: 15px;
    height: var(--size-2xs);
}

.button.button_size-xs {
    --icon-size: 15px;
    height: var(--size-xs);
}

.button.button_size-s {
    --icon-size: 15px;
    height: var(--size-s);
}

.button.button_size-m {
    --icon-size: 20px;
    height: var(--size-m);
}

.button.button_size-l {
    --icon-size: 25px;
    height: var(--size-l);
}

.button.button_a-active:active {
    transform: scale(.98);
}

.button.button_with-icon svg path {
    color: var(--color);
}

.button.button_main-fill {
    --color: white;
    color: var(--color);
    padding: 10px 25px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.button.button_main-fill:hover {
    --color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}

.button.button_main-fill svg path {
    color: var(--color);
}

.button.button_main-stroke {
    --color: var(--main-color);
    color: var(--color);
    padding: 10px 25px;
    border: 1px solid var(--main-color);
}

.button.button_main-stroke:hover {
    --color: white;
    background-color: var(--main-color);
}

.button.button_main-stroke svg path {
    color: var(--color);
}

.button.button_dark-fill {
    --color: white;
    color: var(--color);
    padding: 10px 25px;
    background-color: var(--dark-color);
    border: 1px solid var(--pale-color);
}

.button.button_dark-fill:hover {
    background-color: var(--dark-color-dark);
    border: 1px solid var(--pale-color);
}

.button.button_pale-stroke {
    --color: var(--pale-color);
    color: var(--color);
    padding: 10px 25px;
    border: 1px solid var(--pale-color);
}

.button.button_pale-stroke:hover {
    --color: var(--main-color);
    border: 1px solid var(--main-color);
}

.button.button_white-stroke {
    --color: white;
    color: var(--color);
    padding: 10px 25px;
    border: 1px solid var(--color);
}

.button.button_white-stroke:hover {
    --color: var(--main-color);
}

.button.button_white-fill {
    padding: 10px 25px;
    background-color: white;
    border: 1px solid white;
}

.button.button_white-fill:hover {
    border: 1px solid var(--grey-color);
}

.button.button_grey-fill {
    padding: 10px 25px;
    background-color: var(--background-color-1);
    border: 1px solid var(--background-color-1);
}

.button.button_grey-fill:hover {
    border: 1px solid var(--grey-color);
}