
.employee-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.employee-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: white;
    padding: 25px;
}

.employee-card.employee-card_wide {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
}

.employee-card__photo {
    width: 100%;
    height: 380px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--background-color-1);
}

.employee-card.employee-card_wide .employee-card__photo {
    height: 100%;
    min-height: 380px;
}

.employee-card__photo img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.employee-card__content {
    flex-grow: 1;
    margin: 35px 0 20px 0;
}

.employee-card__place {
    margin: 0 0 2px 0;
    font-size: 14px;
    color: var(--pale-color);
}

.employee-card__name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.employee-card__text {
    margin: 0 0 20px 0;
}

.employee-card__properties {
    margin: 0 0 20px 0;
}

.employee-card:not(.employee-card_wide) .employee-card__button {
    width: 100%;
}