@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-ExtraLight.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}