* {
	padding: 0px;
	margin: 0px;
	border: none;
    color: var(--text-color);
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

body {
    font-family: var(--main-family);
    background-color: var(--background-color-1);
}

.link {
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

.container {
    width: var(--container);
    margin: 0 auto;
}

.company {
    display: inline-flex;
    align-items: center;
    gap: 14px;
}

.company.company_col {
    align-items: flex-start;
    flex-direction: column;
}

.company__logo {
    width: 190px;
}

.company__text {
    color: var(--grey-color);
}

.dots:after,
.dots:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
}

.dots:before {
    background-color: var(--main-color);
    margin: 0 4px 0 0;
}

.dots:after {
    background-color: var(--grey-color);
}

.breadcrumbs__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    transition-duration: .2s;
    font-size: 14px;
    color: var(--grey-color);
}

a.breadcrumbs__item {
    cursor: pointer;
    transition-duration: .2s;
}

a.breadcrumbs__item:hover {
    color: var(--main-color);
}

.breadcrumbs__item:not(:last-child):after {
    content: "/";
    color: var(--grey-color);
    margin: 0 4px;
}

.page-title {
    margin: 0 0 35px 0;
}

.page-title h1 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 65px;
    color: var(--dark-color);
}

.page-title h1 b {
    color: var(--main-color);
}

.section {
    margin-bottom: var(--section-margin);
}

.section:has(.swiper-wrapper) {
    overflow: hidden;
}

.section.section_no-mb {
    margin-bottom: 0;
}

.section_padding {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.section_bg-grey {
    background-color: var(--background-color-1);
}

.section_bg-white {
    background-color: white;
}

.section__header {
    margin: 0 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.section__header.section__header_no-mb {
    margin: 0;
}

.section__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 52px;
    line-height: 110%;
    color: var(--dark-color);
}

.section__title.section__title_small {
    font-size: 20px;
}

.section.section_dark .section__title {
    color: white;
}

.section__title.section__title_like-h1 {
    font-size: 65px;
}

.section__title b {
    color: var(--main-color);
}

.section__subtitle {
    font-size: 14px;
    color: var(--grey-color);
}

.section__text {
    font-size: 18px;
    line-height: 140%;
    color: var(--dark-color);
    margin: 35px 0 0 0;
}

.section__text b {
    font-weight: 700;
    color: inherit;
}

.section__button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.section__button {
    margin: 35px 0 0 0;
}

.section.section_dark .section__text {
    color: white;
}

.section__footer {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    background-image: url('../assets/images/social-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social__inner {
    padding: 180px 0;
}

.social__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.help {
    overflow: hidden;
    background-image: url('../assets/images/help-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.help__form {
    width: calc(100% - 200px);
    background-color: var(--dark-color);
    border: 1px solid var(--pale-color);
    border-radius: calc(var(--border-radius) * 2);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    z-index: 1;
}

.help__form .form__field-item {
    width: 400px;
}

.help__form-img {
    position: absolute;
    bottom: -5px;
    right: var(--right);
}

.help__cards {
    --text-color: var(--grey-color);
}

.help__cards .card:first-of-type .card__content {
    padding-top: 25px !important;
    padding-right: 120px !important;
}

.help__card-image {
    position: absolute;
    right: 40px;
    top: -327px;
}

.help__card-text {
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 505px;
    top: -180px;
}

.help__card-text b {
    color: var(--main-color);
}

.tag {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tag__category {
    display: grid;
    gap: 40px;
    grid-template-columns: 220px 1fr;
}

.tag__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #fff;
}

.tag__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag__item {
    border-radius: calc(var(--border-radius) * 2);
    height: 55px;
    background-color: var(--pale-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--grey-color);
    padding: 3px 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.hero {
    overflow: hidden;
    position: relative;
    padding: 0 0 80px 0;
}

.hero .text {
    --text-color: white;
}

.hero__slide {
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero__slide .container {
    height: 100%;
}

.hero__slide:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: var(--header-height);
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.hero__slide.hero__slide_light:after {
    background: 
        linear-gradient(180deg, #fff 0% 10%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0% 20%, rgba(0, 0, 0, 0.8) 100%);
}

.hero__image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__content {
    height: 100%;
    padding: 200px 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.hero__content .section__header {
    width: 100%;
}

.hero__content .section__title-wrapper {
    width: 100%;
}

.hero__slider-manage {
    position: absolute;
    z-index: 5;
    bottom: 160px;
    right: var(--right);
}

.hero__circle {
    position: absolute;
    left: calc(50% - 78px);
    bottom: 0;
    z-index: 3;
}

.circle {
    width: 156px;
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle__text {
    width: 100%;
    height: 100%;
    position: absolute;
}

.circle__text.circle__text_top {
    top: -55px;
}

.circle__text.circle__text_bottom {
    bottom: -55px;
}

.circle__text.circle__text_left {
    left: -55px;
}

.circle:after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--background-color-1);
    transition-duration: .5s;
    z-index: 2;
}

.circle__icon {
    max-width: 24px;
    position: absolute;
    z-index: 3;
}

.circle:hover:after {
    transform: scale(1.1);
}

.slider-manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slider-manage:has(.slider-pagination) {
    width: 420px;
}

.slider-pagination {
    z-index: 1;
    width: auto !important;
    left: 24px !important;
    right: 24px !important;
    top: unset !important; 
    bottom: unset !important; 
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
    display: flex;
}

.slider-manage .slider-pagination {
    position: absolute;
}

.slider-pagination__item {
    --color: white;
    flex: 1;
    height: 1px;
    transition-duration: .2s;
    position: relative;
    background-color: var(--color);
    visibility: hidden;
    opacity: 0;
}

.slider-pagination__item:after {
    content: attr(data-number);
    font-weight: 400;
    font-size: 18px;
    color: var(--color);
    position: absolute;
    right: 0;
    bottom: 7px;
}

.slider-pagination.slider-pagination_thick .slider-pagination__item {
    height: 2px;
    bottom: 2px;
}

.slider-pagination__item.slider-pagination__item_active {
    visibility: visible;
    opacity: 1;
}

.slider-pagination .slider-pagination__item:not(:last-of-type) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.slider-pagination.slider-pagination_transfer-last .slider-pagination__item:last-of-type:after {
    left: 0;
}

.slider-pagination.slider-pagination_dark {
    background: color-mix(in srgb, var(--pale-color), transparent 50%);
}

.slider-pagination.slider-pagination_dark .slider-pagination__item {
    --color: var(--dark-color);
    background: color-mix(in srgb, var(--pale-color), transparent 30%);
}

.slider-paginationn.slider-pagination_dark .slider-pagination__item:not(:last-of-type) {
    border-right: 1px solid color-mix(in srgb, var(--pale-color), transparent 30%);
}

.slider-button {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    background-image: url('../assets/icons/arrow-right-white.svg');
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: .2s;
    position: relative;
    z-index: 2;
}

.slider-button.slider-button_dark {
    background-image: url('../assets/icons/arrow-right-grey.svg');
}

.slider-button.slider-button_prev {
    transform: rotate(180deg);
}

.slider-button.slider-button_prev:active {
    transform: rotate(180deg) scale(.98);
}

.slider-button:not(.slider-button_prev):active {
    transform: scale(.98);
}

.slider-button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.slider-button.slider-button_dark {
    border: 1px solid color-mix(in srgb, var(--pale-color), transparent 50%);
}

.slider-button.slider-button_dark:hover,
.slider-button.slider-button_dark:active {
    background-image: url('../assets/icons/arrow-right-white.svg');
}

.message {
    padding: 0 0 0 40px;
    position: relative;
    display: inline-block;
    text-align: left !important;
}

.message.message_white {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 15px 15px 15px 55px;
}

.message:after {
    content: "!";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.message.message_white:after {
    top: 15px;
    left: 15px;
}

.message.message_success:after {
    background-color: rgb(25 178 86);
}

.message.message_info:after {
    background-color: rgb(1, 95, 246);
}

.message.message_warning:after {
    background-color: rgb(246, 98, 1);
}

.message.message_error:after {
    background-color: rgb(246, 34, 1);
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown__item {
    background-color: var(--background-color-1);
    border-radius: calc(var(--border-radius) * 2);
    width: 100%;
}

.dropdown__item.dropdown__item_white {
    background-color: white;
}

.dropdown__header {
    padding: 25px 90px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    min-height: 85px;
}

.dropdown__title {
    font-weight: 500;
    color: var(--dark-color);
}

.dropdown__button {
    position: absolute;
    right: 15px;
    transform-origin: center;
}

.dropdown__body {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}

.dropdown__item.dropdown__item_active .dropdown__button {
    rotate: 180deg;
}

.faq-content {
    border-top: 1px solid var(--grey-color);
    margin: 0 25px;
    padding: 25px 0;
}

.job-content {
    margin: 0 25px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-content__description {
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--background-color-1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 35px 25px;
}

.job-content__offer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-content__offer {
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--background-color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-content__offer-title {
    font-weight: 500;
    font-size: 18px;
    padding: 14px 25px;
}

.job-content__offer-title b {
    font-weight: inherit;
    color: var(--grey-color);
}

[data-tab-content] {
    display: none;
}

.price-list {
    background-color: var(--dark-color);
    background-image: url('../assets/images/price-list.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.price-list__image {
    position: absolute;
    bottom: 0;
    right: var(--right);
}

.price-list__circle {
    position: absolute;
    left: calc(50% - 78px);
    top: -78px;
    z-index: 3;
}

.price-list .container {
    position: relative;
    z-index: 2;
}

.about-content {
    margin: 0 0 35px 0;
}

.about-content .content__main {
    padding-left: 20px;
}

.about-content .text p {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.about-content .text .message {
    margin: 0 0 15px 0;
}

.about-content .circle {
    position: absolute;
    top: calc(50% - 78px);
    right: -78px;
    z-index: 3;
}

.about-content .circle:after {
    width: 90px;
    height: 90px;
    background-color: white;
}

.about-content .circle:before {
    content: "";
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color: var(--background-color-1);
}

.about-content .circle__icon {
    max-width: 60px;
    max-height: 60px;
}

.content {
    --gap: 40px;
    --image: 710px;
    --main: calc(100% - var(--image) - var(--gap));
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.content.content_reverse {
    flex-direction: row-reverse;
}

.content__main {
    width: var(--main);
}

.content__image {
    width: var(--image);
    position: relative;
}

.content__image-inner {
    border-radius: var(--border-radius);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content__slider {
    width: var(--image);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__slider .content__image {
    width: 100%;
    height: 100% !important;
}

.content__slider .swiper-wrapper {
    height: 100% !important;
}

.content__slider .swiper-slide {
    height: 100% !important;
}

.content__slider .content__slider-manage {
    position: absolute;
    z-index: 5;
    bottom: 50px;
    max-width: calc(100% - 40px);
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-list .content__main {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.content-list .content__main p {
    font-size: 20px;
}

.content-list .content__image {
    min-height: 470px;
}

.marketing-materials {
    margin: 35px 0 0 0;
}

.photo-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.photo-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.photo-list-buttons {
    display: none;
}

.photo-card {
    border-radius: var(--border-radius);
    position: relative;
    height: 600px;
    overflow: hidden;
}

.photo-card.photo-card_hidden {
    display: none;
}

.photo-card__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.photo-card__image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition-duration: 1.5s;
    animation-timing-function: linear;
}

.photo-card:has(.photo-card__content):hover .photo-card__image {
    transform: scale(1.05);
}

.photo-card__content {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding: 25px 40px;
    transform: translateY(100%);
    transition-duration: .5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.photo-card:hover .photo-card__content {
    transform: translateY(0);
}

.photo-card__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin: 0 0 8px 0;
    position: relative;
}

.photo-card__title:after,
.photo-card__title:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
}

.photo-card__title:before {
    left: -26px;
    background-color: var(--main-color);
}

.photo-card__title:after {
    left: -16px;
    background-color: var(--grey-color);
}

.photo-card__text {
    --text-color: white;
    margin: 0 0 35px 0;
}

.gallery .section__text {
    text-align: right;
}

.gallery__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.gallery__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.gallery__image {
    border-radius: calc(var(--border-radius) * 2);
    max-width: 100%;
    max-height: 100%;
}

.gallery .slider-button {
    position: absolute;
    z-index: 3;
}

.gallery .slider-button.slider-button_prev {
    left: 0;
}

.gallery .slider-button.slider-button_next {
    right: 0;
}

.gallery .slider-pagination {
    margin: 35px 0 0 0;
    width: 600px !important;
    max-width: 100%;
}

.dealer-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 35px 0;
}

.video {
    padding-top: calc(9/16 * 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__poster {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    border-radius: calc(var(--border-radius) * 2);
}

.video__button {
    position: absolute;
    z-index: 2;
    transition-duration: .2s;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--main-color);
    overflow: hidden;
    top: calc(50% - 65px);
}

.video__button:hover {
    background-color: var(--main-color-dark);
}

.video__button:active {
    transform: scale(0.98);
}

.video__button svg {
    max-width: 100%;
    max-height: 100%;
}

.video-iframe {
    border-radius: var(--border-radius);
    width: 100%;
    padding-top: calc(9/16 * 100%);
    overflow: hidden;
}

.video-iframe iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.review-section {
    background-image: url('../assets/images/reviews-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.review-card__poster {
    width: 100%;
    padding-top: calc(4/3 * 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
}

.review-card__image {
    background-color: var(--background-color-1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
    transition-duration: .2s;
}

.review-card__play {
    position: absolute;
    top: calc(50% - 42px);
    z-index: 2;
    width: 84px;
    height: 84px;
    background-color: var(--main-color);
    background-image: url('../assets/icons/play-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 50%;
    transition-duration: .2s;
}

.review-card__play:hover {
    background-color: white;
    background-image: url('../assets/icons/play-main.svg');
}

.review-card__play:active {
    transform: scale(.98);
}

.review-card:has(.review-card__play:hover) .review-card__image {
    width: calc(100% - 80px);
}

.review-card__title {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.review-card__title b {
    font-weight: 700;
    color: inherit;
}

.search-form {
    background-color: white;
    border-radius: calc(var(--border-radius) * 2);
}

.search-form .form__field-list {
    position: relative;
    grid-template-columns: 1fr;
}

.search-form__input {
    width: 100%;
}

.search-form__button {
    position: absolute;
    right: 0;
}

.models-list-buttons {
    display: none;
} 

.models {
    --col: 8;
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: 20px;
}

.models.models_col-8 {
    --col: 8;
}

.models.models_col-5 {
    --col: 5;
}

.models.models_col-4 {
    --col: 4;
}

.model {
    position: relative;
}

.model.model_hidden {
    display: none;
}

.model__image {
    height: 200px;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px 0;
    overflow: hidden;
    position: relative;
}

.model__image.model__image_quad {
    height: auto;
    padding-top: 100%;   
}

.model__image-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition-duration: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.model__image.model__image_cover .model__image-inner {
    padding: 0;
}

.model__image-inner img {
    max-width: 100%;
    max-height: 100%;
}

.model__image.model__image_cover .model__image-inner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.model:has(.model__link):hover .model__image-inner {
    transform: scale(1.05);
}

.model__link {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.model__name {
    font-size: 14px;
    text-align: center;
    transition-duration: .2s;
}

.model:has(.model__link):hover .model__name {
    color: var(--dark-color);
}

.model:has(.model__link) .model__name:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../assets/icons/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 0 6px;
}

.icon-property-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.icon-property {
    transition-duration: .2s;
    padding: 0 0 0 30px;
    min-height: 17px;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.icon-property:before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-property.icon-property_phone-main:before {
    background-image: url('../assets/icons/phone-grey-fill.svg');
}

.icon-property.icon-property_phone-additional:before {
    background-image: url('../assets/icons/phone-grey-stroke.svg');
}

.icon-property.icon-property_email:before {
    background-image: url('../assets/icons/mail-grey-stroke.svg');
}

.icon-property.icon-property_address:before {
    background-image: url('../assets/icons/location-grey-stroke.svg');
}

.icon-property.icon-property_clock:before {
    background-image: url('../assets/icons/clock-grey-stroke.svg');
}

.icon-property.icon-property_whatsapp:before {
    background-image: url('../assets/icons/wa-grey-fill.svg');
}

a.icon-property:hover,
.icon-property a:hover {
    color: var(--main-color);
}

.scheme {
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.scheme__item {
    padding-top: calc(2.5/3 * 100%);
    position: relative;
}

.scheme__item-inner {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.scheme__item:nth-of-type(1) .scheme__item-inner {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.scheme__item:nth-of-type(2) .scheme__item-inner {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.panel-section {
    padding: 60px 0 0 0;
}

.panel {
    --text-color: white;
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: var(--dark-color);
    position: relative;
}

.panel__text {
    max-width: calc(100% - 500px);
}

.panel__image {
    width: 470px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 1;
}

.error-page {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.error-page {
    padding: 150px 0;
}

.error-page__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 65px;
    text-align: center;
}

.error-page .search-form {
    width: 100%;
}

.brand-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.brand-card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--dark-color);
    padding: 180px 40px 25px 40px;
    border-radius: var(--border-radius);
}

.brand-card__name {
    font-size: 20px;
    min-height: 50px;
    color: #fff;
}

.brand-card__image {
    position: absolute;
    max-width: 100%;
    max-height: 130px;
    left: 40px;
    top: 0;
}

.history-cards .card:last-child {
    grid-column: span 2;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 30px;
    padding: 20px 20px 20px 40px;
    background-color: white;
    border-radius: var(--border-radius);
}

.history-item_hidden {
    display: none;
}

.history-item__date {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

.history-item__date:after,
.history-item__date:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
}

.history-item__date:before {
    left: -26px;
    background-color: var(--main-color);
}

.history-item__date:after {
    left: -16px;
    background-color: var(--grey-color);
}

.history-item__text {
    padding: 4px 0 0 0;
}

.history-item__text p {
    font-size: 20px;
}

.history-hero-slide {
    padding: calc(var(--header-height) + var(--section-padding)) 0 var(--section-padding) 0;
    justify-content: space-between;
}

.history-hero-year-list {
    margin: 35px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.history-hero-content-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

.history-hero-content-text {
    font-size: 25px;
    color: #fff;
}

.search-list {
    display: flex;
    flex-direction: column;
}

.search-card {
    padding: 30px 0;
    border-bottom: 1px solid var(--background-color-2);
    position: relative;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
}

.search-card__link {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.search-card__image {
    padding-top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-card__image-inner {
    max-width: 100%;
    max-height: 100%;
    transition-duration: .2s;
    position: absolute;
    top: 0;
}

.search-card__title {
    font-size: 20px;
    line-height: 140%;
    margin: 0 0 15px 0;
    transition-duration: .2s;
}

.search-card:has(.search-card__link):hover .search-card__title {
    color: var(--dark-color);
}

.search-card:has(.search-card__link):hover .search-card__image-inner {
    transform: scale(1.05);
}

.banner {
    min-height: 500px;
    position: relative;
}

.banner__image {
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner__content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
}

.banner__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 35px;
    color: #fff;
}

.banner__button {
    width: 100%;
}

.sidebar-article__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-color);
    margin: 0 0 20px 0;
}

.sidebar-article__bottom {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid var(--grey-color);
    text-align: center;
}

.sidebar-article__bottom a {
    color: var(--main-color);
    text-align: center;
}

.sidebar-article__bottom a:hover {
    text-decoration: underline;
}

.sidebar-article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.document-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.document-card {
    background-color: white;
    border: 1px solid white;
    border-radius: calc(var(--border-radius) * 2);
    height: 55px;
    padding: 10px 51px 10px 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .2s;
}

.document-card:hover {
    border: 1px solid var(--grey-color);
}

.document-card:active {
    transform: scale(.98);
}

.document-card:after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../assets/icons/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 25px;
}

.document-card__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.document-card__name {
    max-width: 300px;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reset-password-form {
    padding: 25px;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.fast-nav-list {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.fast-nav {
    --text-color: white;
    border-radius: var(--border-radius);
    background-color: var(--dark-color);
    position: relative;
    overflow: hidden;
    transition-duration: .2s;
    min-height: 300px;
}

.fast-nav:hover {
    background-color: var(--dark-color-dark);
}

.fast-nav__link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
}

.fast-nav.fast-nav_wide {
    grid-column: span 2;
}

.fast-nav__content {
    padding: 15px 25px 10px 25px;
    position: relative;
    z-index: 2;
}

.fast-nav__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition-duration: .5s;
}

.fast-nav:hover .fast-nav__image {
    transform: scale(1.05);
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.pagination__item {
    min-width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .2s;
    text-align: center;
    font-size: 18px;
    color: var(--dark-color);
    padding: 3px 5px;
}

.pagination__item svg,
.pagination__item img {
    max-width: 12px;
    max-height: 12px;
}

a.pagination__item:hover {
    background-color: white;
}

a.pagination__item:active {
    transform: scale(.98);
}

.pagination__item.pagination__item_current {
    background-color: white;
    color: var(--main-color);
}

.cookie-notification {
    --text-color: white;
    background-color: var(--main-color);
    width: var(--container);
    border-radius: calc(var(--border-radius) * 2);
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    gap: 60px;
    position: fixed;
    bottom: 30px;
    right: var(--right);
    padding: 25px;
    transition-duration: .2s;
    transform: scale(.95);
    opacity: 0;
    visibility: hidden;
}

.cookie-notification.cookie-notification_active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.button.cookie-notification__button:hover {
    background-color: white;
}

.burger {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger img {
    max-width: 18px;
    max-height: 18px;
}

.menu {
    position: fixed;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition-duration: .2s;
}

.menu.menu_open {
    opacity: 1;
    visibility: visible;
}

.menu__overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(55, 55, 55, 0.5);
}

.menu__inner {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    overflow-y: auto;
    transform: translateX(100%);
    transition-duration: .2s;
    padding: 25px;
}

.menu.menu_open .menu__inner {
    transform: translateX(0%);
}

.menu__close {
    width: 30px;
    height: 30px;
    background-color: var(--background-color-1);
    background-image: url('../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    transition-duration: .2s;
    border-radius: 50%;
}

.menu__close:hover {
    background-color: rgba(235, 235, 235, 1);
}

.menu__close:active {
    background-color: rgba(225, 225, 225, 1);
}

.menu__header {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu__nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.menu__nav-item {
    font-size: 18px;
    font-weight: 500;
    transition-duration: .2s;
}

.menu__nav-item:hover {
    color: var(--main-color);
}

.advantages-list-buttons {
    display: none;
}