.modal {
    position: fixed;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition-duration: .2s;
}

.modal.modal_open {
    opacity: 1;
    visibility: visible;
}

.modal__overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(55, 55, 55, 0.5);
}

.modal__inner {
    position: relative;
    border-radius: var(--border-radius);
    width: 800px;
    position: relative;
    background-color: var(--background-color-1);
    padding: 80px;
    transform: scale(.85);
    transition-duration: .2s;
}

.modal.modal_open .modal__inner {
    transform: scale(1);
}

.modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--background-color-1);
    background-image: url('../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    transition-duration: .2s;
}

.modal__close:active {
    transform: scale(.98);
}

.modal__title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 52px;
    margin: 0 0 35px 0;
}