:root {
    --header-height: 0px;
    --sticky-top: 10px;
    --container: 1440px;
    --section-margin: 80px;
    --section-padding: 80px;
    --right: calc((100% - var(--container)) / 2);
    --border-radius: 15px;

    --main-family: 'Mulish', sans-serif;
    --second-family: 'Unbounded', sans-serif;

    --main-color: #F66201;
    --main-color-dark: #da5700;
    --background-color-1: #f4f5f7;
    --background-color-2: #dbdbdc;
    --background-color-3: #b9b9b9;
    --dark-color: #373737;
    --dark-color-dark: #262626;
    --pale-color: #595959;
    --pale-color-dark: #474747;
    --grey-color: #c5c6c6;
    --text-color: var(--pale-color);

    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body:has(.header.header_fixed.header_fixed-active) {
    --sticky-top: calc(var(--header-height) + 10px);
}