
.employee-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.employee-list-buttons {
    display: none;
}

.employee-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: white;
    padding: 25px;
}

.employee-card_hidden {
    display: none;
}

.employee-card.employee-card_wide {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
}

.employee-card__photo {
    width: 100%;
    padding-top: calc(4/3 * 100%);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--background-color-1);
}

.employee-card.employee-card_wide .employee-card__photo {
    height: 100%;
    min-height: 380px;
}

.employee-card__photo img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
}

.employee-card__content {
    flex-grow: 1;
    margin: 35px 0 20px 0;
}

.employee-card__place {
    margin: 0 0 2px 0;
    font-size: 14px;
    color: var(--pale-color);
}

.employee-card__name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.employee-card__text {
    margin: 0 0 20px 0;
}

.employee-card__properties {
    margin: 0 0 20px 0;
}

.employee-card:not(.employee-card_wide) .employee-card__button {
    width: 100%;
}

@media (max-width: 1260px) {
    .employee-list {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .employee-card.employee-card_wide {
        grid-column: span 3;
    }
}

@media (max-width: 1024px) {
    .employee-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .employee-card.employee-card_wide {
        grid-column: span 2;
        grid-template-columns: 1fr;
    }

    .employee-card.employee-card_wide .employee-card__photo {
        padding-top: 100%;
    }

    .employee-card.employee-card_wide .employee-card__content {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .employee-list-buttons {
        display: flex;
    }

    .employee-list {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .employee-card__button {
        width: 100%;
    }
    
    .employee-card.employee-card_wide {
        grid-column: span 1;
    }

    .employee-card {
        padding: 10px;
    }

    .employee-card__content {
        margin: 15px 0;
    }

    .employee-card.employee-card_wide {
        gap: 15px;
    }

    .employee-card__place {
        text-align: center;
    }

    .employee-card__name {
        margin: 0 0 15px 0;
        text-align: center;
        font-size: 18px;
    }

    .employee-card__text {
        text-align: center;
    }
}