.modal {
    position: fixed;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition-duration: .2s;
}

.modal.modal_open {
    opacity: 1;
    visibility: visible;
}

.modal__overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(55, 55, 55, 0.5);
}

.modal__body {
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: scale(.85);
    transition-duration: .2s;
    width: 800px;
    max-width: calc(100% - 20px);
}

.modal.modal_open .modal__body {
    transform: scale(1);
}

.modal__inner {
    max-height: calc(100dvh - 40px);
    overflow-y: auto;
    position: relative;
    background-color: var(--background-color-1);
    padding: 80px;
}

.modal.modal_no-padding .modal__inner {
    padding: 0;
}

.modal__close {
    z-index: 5;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--background-color-1);
    background-image: url('../assets/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    transition-duration: .2s;
    border-radius: 50%;
}

.modal__close:hover {
    background-color: rgba(235, 235, 235, 1);
}

.modal__close:active {
    background-color: rgba(225, 225, 225, 1);
}

.modal__header {
    margin: 0 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal__title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 52px;
}

.modal__text {
    text-align: center;
}

@media (max-width: 768px) {
    .modal__inner {
        padding: 40px 20px 20px 20px;
    }

    .modal__close {
        top: 10px;
        right: 10px;
    }

    .modal__title {
        font-size: 22px;
    }

    .modal__header {
        margin: 0 0 20px 0;
    }
}