.store-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.store-list.store-list_col-1 {
    grid-template-columns: 1fr;
}

.store-small {
    border-radius: var(--border-radius);
    background-color: white;
    padding: 25px;
}

.store-small__icon {
    margin: 0 0 3px 0;
    width: 18px;
}

.store-small__name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    color: var(--dark-color);
    margin: 0 0 10px 0;
}

.store-small__address {
    color: var(--dark-color);
    margin: 0 0 25px 0;
}

.store-big {
    --gap: 20px;
    --image-width: 380px;
    --qr-width: 250px;
    background-color: white;
    padding: 25px;
    border-radius: calc(var(--border-radius) * 2);
    display: flex;
    gap: var(--gap);
}

.store-big__image {
    width: var(--image-width);
    min-height: 240px;
    position: relative;
}

.store-big__image-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
    background-color: var(--background-color-1);
}

.store-big__qr {
    width: var(--qr-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: calc(var(--border-radius) * 2);
    transition-duration: .2s;
    background-color: var(--background-color-1);
}

.store-big__qr-title {
    color: var(--main-color);
    font-size: 20px;
}

.store-big__qr-inner {
    max-width: 100%;
    max-height: 100%;
    transition-duration: .5s;
}

.store-big__qr:hover .store-big__qr-inner {
    transform: scale(1.05);
}

.store-big__content {
    width: calc((100% - var(--image-width) - var(--qr-width) - var(--gap) * 2) / 2);
}

.store-big__title {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 15px 0;
}