<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="section">
        <div class="container">
            <div class="text">
                <h2>Общее</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/ui.html">UI</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/error.html">Страница ошибки</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/mainpage.html">Главная</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/dealer.html">Дилерам</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/support.html">Поддержка</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/buy.html">Где купить</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/job.html">Вакансии</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/team.html">Отдел продаж</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/contacts.html">Контакты</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/about.html">О нас</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/history.html">История</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/search.html">Поиск</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/reset-password.html">Смена пароля</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/news-list.html">Новости</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/news-detail.html">Новости — Детальная новости</a>
                                </td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr>
                
                <h2>Каталог</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog.html">Каталог — Главная страница</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-collection-list.html">Каталог — Список коллекций</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-product-list.html">Каталог — Список товаров</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-collection-detail.html">Каталог — Карточка коллекции</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-product-detail.html">Каталог — Карточка товара</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-cart-empty.html">Каталог — Корзина (пустая)</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/catalog-cart-fill.html">Каталог — Корзина (заполнена)</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                
                <h2>Личный кабинет</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal.html">Личный кабинет — Главная страница</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-profile.html">Личный кабинет — Профиль пользователя</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-3d.html">Личный кабинет — Документация — 3Д модели и интерьеры</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-3d-detail.html">Личный кабинет — Документация — 3Д модели и интерьеры — Детальная</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-brandbook.html">Личный кабинет — Документация —  Брендбук</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-decors.html">Личный кабинет — Документация — Декоры</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a href="/personal-tech-docs.html">Личный кабинет — Документация — Техническая документация</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <%= require('../templates/footer.html').default %>

</body>
</html>