<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="section">
        <div class="container">
            <div class="text">
                <h2>Общее</h2>

                <p>модалки, 404</p>

                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/card.html">Card</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/mainpage.html">Главная</a>
                                </td>
                                <td>✅</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/dealer.html">Дилерам</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/support.html">Поддержка</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/get.html">Где купить</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/job.html">Вакансии</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/team.html">Отдел продаж</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/contacts.html">Контакты</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/about.html">О нас</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/history.html">История</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr>
                
                <h2>Каталог</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/catalog.html">Общая</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/catalog-collection-list.html">Список коллекций</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/catalog-product-list.html">Список товаров</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/catalog-collection-detail.html">Карточка коллекции</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/catalog-product-detail.html">Карточка товара</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/catalog-cart.html">Корзина</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                
                <h2>Личный кабинет</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Страница</th>
                                <th style="width: 100px;">Десктоп</th>
                                <th style="width: 100px;">Адаптив</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/personal-menu.html">Меню</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-profile.html">Профиль</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-3d.html">3д модели и Интерьеры</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-3d-detail.html">3д модели и Интерьеры - детальная</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-brandbook.html">Брендбук</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-decors.html">Декоры</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/personal-tech-docs.html">Техническая документация</a>
                                </td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <%= require('../templates/footer.html').default %>

</body>
</html>