<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="page-title">
        <div class="container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__wrapper">
                    <a class="breadcrumbs__item" href="#">Главная</a>
                    <span class="breadcrumbs__item">Смена пароля</span>
                </div>
            </div>
            <h1>Смена пароля</h1>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <form class="form js-form reset-password-form">
                <div class="form__field-list">
                    <div class="form__field-item form__field-item_wide">
                        <div class="field">
                            <label class="field__label">E-mail</label>
                            <input class="field__input" type="email" name="email" required>
                        </div>
                    </div>
                    <div class="form__field-item form__field-item_wide">
                        <div class="field">
                            <label class="field__label">Пароль</label>
                            <input class="field__input" type="password" name="password" required>
                        </div>
                    </div>
                    <div class="form__field-item form__field-item_wide">
                        <div class="field">
                            <label class="field__label">Подтверждение пароля</label>
                            <input class="field__input" type="password" name="password_confirm" required>
                        </div>
                    </div>
                    <div class="form__field-item form__field-item_button form__field-item_wide">
                        <button type="submit" class="button button_main-fill button_rounded button_a-active button_size-s">
                            <span>Сменить пароль</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%= require('../templates/footer.html').default %>

</body>
</html>